# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


node_modules
deploy

# local env files
.env.*.local

# Log files
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.sqlite
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs/VSWorkspaceState.json
/.vs/fao-design-system-netlify/config/applicationhost.config
*.vs
