.title-sidebar {
    .display-6{
        @include alternativeFont($font-weight-semibold, $line-height-xs);
    }
}
#sidebar-container{
    &.fixed-top{
        padding-top: calc($headerHeight + 3rem);
    }

    h2{
        @include alternativeFont($font-weight-semibold, $line-height-regular);
        span{
            @include alternativeFont($font-weight-normal, $line-height-regular);
            display: block;
        }
        
    }
    .sidebar-line{
        width: 80px;
        height: 10px;
        background-color: $primary;
    } 

    .nav-link{
        @include alternativeFont($font-weight-normal, $line-height-regular);
        &.active{
            background-color: transparent;
            color: $primary!important;
            font-weight: $font-weight-semibold;
        }
    }
    
}