<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<meta name="DC.Identifier" content="<%= htmlWebpackPlugin.options.DOI %>" />
	<meta name="description" content="<%= htmlWebpackPlugin.options.description %>"/>

	<link rel="shortcut icon" href="../img/favicon.ico">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<%
	var location = htmlWebpackPlugin.options.filename.split('/').pop();
	for(var x=0; x < totLang.length; x++) {
	%>
	<% if(totLang[x].lang === htmlWebpackPlugin.options.lang) { %>
	<link rel="canonical" href="https://www.fao.org/3/<%= totLang[x].code %>/online/<%= acronym %>-<%= year %>/<%= location %>">
	<% } else { %>
	<link rel="alternate" hreflang="<%= totLang[x].lang %>" href="https://www.fao.org/3/<%= totLang[x].code %>/online/<%= acronym %>-<%= year %>/<%= location %>">
	<% } %>
	<% } %>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127786997_9">
	</script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-127786997-9');
	</script>
</head>
<body class="<%= structure %>" >
<div>
	<div class="head-wrap">
		<header>
			<div class="header">
				<div class="logos">
					<a href="http://www.fao.org" target="_blank" title="FAO - Food and Agriculture Organization"><img class="main-logo" src="../img/logo.svg" alt="FAO"></a>
				</div>
				<div class="language">
					<ul>
						<% for(var x=0; x < totLang.length; x++) {%>
						<% if(totLang[x].lang !== htmlWebpackPlugin.options.lang) { %>
						<li>
							<a href="http://www.fao.org/3/<%= totLang[x].code %>/online/<%= totLang[x].code %>.html" title="<%= totLang[x].code %>">
								<%= totLang[x].text %>
							</a>
						</li>
						<% } else { %>
						<li class="active">
							<%= totLang[x].text %>
							<img src="../img/caret-down.svg" alt="language">
						</li>
						<% } %>
						<% } %>
					</ul>
				</div>
				<div id="menu-toggle">
					<label for="toggle">
						<input type="checkbox" id="toggle"/>
						<span></span>
						<span></span>
						<span></span>
					</label>
				</div>
			</div>
		</header>
	</div>
</div>
<% if(prevLink && prevLink.url) { %>
<div class="hero-prev gradient" style="background-image: url('../img/<%= prevLink.img %>.jpg')" ></div>
<% } else {%>
<div class="hero-prev gradient" style="background-image: url('../img/home.jpg')"></div><% }%>
<div class="hero gradient" style="background-image: url('../img/<%= cover %>.jpg')" >
	<div class="copy-img">
		<img class="info" src="../img/info.svg" alt="info">
		<div class="closed"><img src="../img/close.svg" alt="close"></div>
	</div>
	<div class="info-copy">
		<div>
			FAO is the mandated lead UN agency on mountains<br />
			©Unsplash/Jurgen Scheeff
		</div>
	</div>
	<div class="navigation-top">
		<% if(prevLink && prevLink.url) { %>
		<a href="<%= prevLink.url %>.html" class="prev hero-swipe" title="<%= prevLink.title %>"><img src="../img/prev.svg" alt="<%= prevLink.title %>"></a>
		<% } else {%>
		<a href="../<%= htmlWebpackPlugin.options.jobNumber %>.html" class="prev hero-swipe" title="homepage"><img src="../img/prev.svg" alt="Homepage"></a>
		<% }%>
		<% if(nextLink && nextLink.url) { %>
		<a href="<%= nextLink.url %>.html" class="next hero-swipe" title="<%= nextLink.title %>"><img src="../img/next.svg" alt="<%= nextLink.title %>"></a>
		<% } %>
	</div>
	<div class="hero-content" >
		<div class="title bottom-left">
			<h1><%= htmlWebpackPlugin.options.title %></h1>
		</div>
		<div class="navigation-bars">
			<div class="menu">
				<nav>
					<ul>
						<li style="background: url('../img/home.jpg') no-repeat center center;">
							<a href="../<%= htmlWebpackPlugin.options.jobNumber %>.html" title="Homepage">
								<span>Home</span>
							</a>
						</li>
						<% for(var i=0; i < menu.length; i++) {%>
						<li style="background: url('../img/<%= menu[i].img %>.jpg') no-repeat center center;">
							<a href="<%= menu[i].url%>.html" title="<%= menu[i].title %>">
								<span><%= menu[i].title %></span>
							</a>
						</li>
						<% } %>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
<% if(nextLink && nextLink.url) { %>
<div class="hero-next gradient" style="background-image: url('../img/<%= nextLink.img %>.jpg')"  ></div>
<% }%>
<div class="container">
	<div class="plus"></div>
	<div class="wrap">
		<div class="row">
			<div class="half popUp up">
				<div class="text align-center just-center d-flex direction-column">
					<p class="extra-small-quote">
						A better environment aims to protect, restore and promote sustainable use of terrestrial and marine ecosystems and combat climate change (reduce, reuse, recycle, residual management) through more efficient, inclusive, resilient and sustainable agrifood systems.
					</p>
					<img class="img-shadow" src="../img/BE_logo.svg" alt="Better environment" style="max-width: 200px; margin-top: 5rem">

				</div>
			</div>
			<div class="half">
				<div class="text popUp">
					<p>A better environment means:</p>
					<ul class="list">
						<li><em>endemic biodiversity conservation</em>, which allows local communities to continue using endemic species for food, agriculture and medicinal purposes;</li>
						<li><em>protecting local breeds</em> to enable local communities to sustain their traditional livelihoods;</li>
						<li><em>implementing climate-smart agricultural practices, policies and programmes</em> to mitigate climate change and make local communities resilient to a changing climate;</li>
						<li><em>increasing fish stocks</em> to benefit fishing communities, particularly in vulnerable coastal areas;</li>
						<li><em>protecting marine ecosystems,</em> which results in greater access by small-scale artisanal fishers to marine resources, and enhanced access rights when involved in their management; and</li>
						<li><em>forest ecosystem conservation</em> to ensure provision of forest ecosystem services to all, and especially to local and mountainous communities.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row is-full maxWidth bgGrey reverse">
			<div class="half bg-half-indicator mustard">
				<div class="text">
					<h2>Mali: <br />protecting and preserving seed biodiversity for resilient agrifood systems and secure food production</h2>
					<h3>TARGET 2.5 <span>Indicator 2.5.1</span></h3>
					<p>Number of (a) plant and (b) animal genetic resources for food and agriculture secured in either medium- or long-term conservation facilities</p>
					<img class="icon" src="../img/E-WEB-Goal-02.png" alt="four betters">

				</div>
			</div>
			<div class="half box-text order-bottom">
				<div class="text popUp right-block">
					<p><b>Background:</b><br />Crop biodiversity fortifies agrifood systems against climate change, invasive species, pollution, urban sprawl and the overuse of land. In Mali, for example, rice and millet are staples. But with 80 percent of rainfed rice cultivation ravaged by drought, yields have shrunk drastically. </p>
					<p><b>FAO’s actions:</b><br />The <a href="https://www.fao.org/documents/card/en/c/2ee42229-a18f-4f79-a967-bd94d08fb7c9/" title="Benefit-sharing Fund" target="_blank" class="link">Benefit-sharing Fund</a>, established through the <a href="https://www.fao.org/plant-treaty/en/" title="FAO International Treaty on Plant Genetic Resources for Food and Agriculture" target="_blank" class="link">FAO International Treaty on Plant Genetic Resources for Food and Agriculture</a>, supports farmers in developing countries to safeguard and use plant genetic diversity for food security. In Mali, it has helped communities identify local rice varieties that are both tough and high-yielding. </p>
					<p><b>Results: </b><br />The fund’s work with local producers and communities through the Institut d'Économie Rurale has helped preserve 266 local rice varieties – and identify which species give maximum output while tolerating drought and excessive water submersion. The farmers are being given greater access to these varieties; these seeds were also recently sent to the <a href="https://www.seedvault.no/" title="Svalbard Global Seed Vault" target="_blank" class="link">Svalbard Global Seed Vault</a>.</p>
					<p><b>Impact:</b><br />By supporting the sustainable management of crop genetic resources in developing countries, the fund has increased the food security and improved the livelihoods of more than a million people. </p>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="full">
				<div class="copy-img">
					<img class="info" src="../img/info.svg" alt="info">
					<div class="closed"><img src="../img/close.svg" alt="close"></div>
				</div>
				<div class="info-copy">
					<div>
						FAO has distributed vast quantities of improved cereal seeds and fertilizer around Mopti, Mali<br />
						©FAO/B.Geers
					</div>
				</div>
				<img class="full-img" data-src="../img/ch5_1.jpg" />
			</div>
		</div>
		<div class="row is-full maxWidth bgGrey reverse">
			<div class="half box-text">
				<div class="text popUp left">
					<p><b>Background:</b><br />Forests play a key role in keeping our planet healthy. Tragically, some 11 percent of the world’s greenhouse gas emissions are linked to deforestation. </p>
					<p><b>FAO’s actions:</b><br />FAO has supported some 40 countries in accessing <a href="https://www.greenclimate.fund/" target="_blank" class="link" title="Green Climate Fund">Green Climate Fund</a> (GCF) resources to meet climate goals. One project aims to reduce deforestation in Argentina. Another envisions low-emission fuel alternatives in Armenia’s rural areas. Yet another project involves maintaining Nepal’s landscapes. And the first African FAO-GCF project will boost zero-deforestation cocoa production in Côte d'Ivoire.  </p>
					<p><b>Results: </b><br /> Nearly 3 000 local and Indigenous families in Argentina are being included in planning efforts to restore native forests, and prevent or respond to forest fires. In Armenia, the GCF project will promote energy-efficient stoves to reduce wood consumption by 30 percent. The GCF project in Nepal will help nearly 200 000 households mitigate the effects of extreme weather events. In Côte d’Ivoire, the project encourages naturally shaded cocoa agroforestry systems.</p>
					<p><b>Impact:</b><br />Involving communities in managing their own resources makes it less likely that forests will be cleared illegally. Fostering ownership and engagement also reduces the causes of deforestation by ensuring that wood and other products, such as honey and nuts, are produced and traded sustainably.  </p>
				</div>
			</div>
			<div class="half bg-half-indicator dark-green">
				<div class="text right-block">
					<h2>Green Climate Fund: <br />fighting climate change around the world with innovative projects</h2>
					<h3>TARGET 13.<span>a</span> <span>Indicator 13.a.1</span></h3>
					<p>Amounts provided and mobilized in USD per year in relation to the continued existing collective mobilization goal of the USD 100 billion commitment through 2025</p>
					<img class="icon" src="../img/E-WEB-Goal-13.png" alt="four betters">

				</div>
			</div>
		</div>
		<div class="row">
			<div class="full">
				<div class="copy-img">
					<img class="info" src="../img/info.svg" alt="info">
					<div class="closed"><img src="../img/close.svg" alt="close"></div>
				</div>
				<div class="info-copy">
					<div>
						Rolling back deforestation in Armenia's Lori Province<br />
						©FAO/Karen Minasyan
					</div>
				</div>
				<img class="full-img" data-src="../img/ch5_2.jpg" />
			</div>
		</div>
		<div class="row is-full maxWidth bgGrey reverse">
			<div class="half bg-half-indicator blue">
				<div class="text">
					<h2>World’s oceans: <br />strengthening institutions to tackle overfishing</h2>
					<h3> Target 14.4<span>Indicator 14.4.1 </span></h3>
					<p>Proportion of fish stocks within biologically sustainable levels</p>
					<img class="icon" src="../img/E-WEB-Goal-14.png" alt="four betters">

				</div>
			</div>
			<div class="half box-text order-bottom">
				<div class="text popUp right-block">
					<p><b>Background:</b><br />Oceans are essential for our ecosystems. But their management is extremely complex. No single nation governs what are known as areas beyond national jurisdiction (ABNJ), yet all have a joint duty to maintain them. </p>
					<p><b>FAO’s actions:</b><br />The <a href="https://www.fao.org/in-action/commonoceans/en/" target="_blank" title="Common Oceans ABNJ Program " class="link">Common Oceans ABNJ Program </a>(2014–2019) has improved fisheries management and biodiversity conservation. Funded by the <a href="https://www.thegef.org/" target="_blank" title="Global Environment Facility" class="link">Global Environment Facility</a> (GEF) and led by FAO, the program has helped reduce overfishing of tuna; protect marine life; safeguard vulnerable ecosystems; and tackle illegal, unregulated and unreported (IUU) fishing.  </p>
					<p><b>Results: </b><br />Eighteen new sites were established to protect at-risk marine life; reduce the mortality of marine mammals; and attract investment to combat IUU fishing. Eight out of 13 major commercial tuna stocks are no longer overfished. A second phase of the program has been approved, led by FAO and co-implemented by the United Nations Development Programme (UNDP) and the United Nations Environment Programme (UNEP). </p>
					<p><b>Impact:</b><br />The program has collected data and conducted research on the effects of fishing operations in common ocean areas. It has also directly helped reduce the number of marine mammals caught accidentally (“bycatch”). Most notably, it has brought overexploited fish species back to sustainable levels.  </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="full">
				<div class="copy-img">
					<img class="info" src="../img/info.svg" alt="info">
					<div class="closed"><img src="../img/close.svg" alt="close"></div>
				</div>
				<div class="info-copy">
					<div>
						Working the shift at Volma fish farm, Cherven District near Minsk, Belarus<br />
						©FAO/Sergei Gapon
					</div>
				</div>
				<img class="full-img" data-src="../img/ch5_3.jpg" />
			</div>
		</div>
		<div class="row is-full maxWidth bgGrey reverse">
			<div class="half box-text">
				<div class="text popUp left order-bottom">
					<p ><b>Background:</b><br />Trees are still being lost at alarming rates. Quality local monitoring is needed to track successes and failures, and to catalyse and scale investments.  </p>
					<p><b>FAO’s actions:</b><br />FAO has counted trees in northeast Nicaragua by contracting a satellite internet provider and crowdsourcing help. The data was fed into FAO’s Open Foris tool, <a href="https://openforis.org/tools/collect-earth/" class="link" title="Collect Earth" target="_blank">Collect Earth</a>, which uses images from NASA, the European Space Agency and Google Earth, and Planet data from Norway’s International Climate and Forest Initiative. Validated data compiled in Collect Earth is then plugged into FAO’s <a href="https://openforis.org/tools/sepal/" class="link" title="SEPAL" target="_blank">System for Earth Observation Data Access, Processing and Analysis for Land Monitoring </a>(SEPAL). </p>
					<p><b>Results: </b><br />Experts and residents in Nicaragua were able to update previous surveys and monitor the restoration progress of tree cover. The “mapathon” there was followed by another in Ethiopia. In one part of India, local participants identified points where tree cover existed and where more could be grown. In one Rwandan district, the mapathon revealed more trees than expected. </p>
					<p><b>Impact:</b><br />Mapathons are a novel way to integrate different stakeholders, including government forestry officials with their priorities and smallholder farmers with theirs. Thanks to the use of historical satellite data sets, such exercises allow governments to evolve adaptive management in a changing climate.  </p>
				</div>
			</div>
			<div class="half bg-half-indicator green">
				<div class="text right-block">
					<h2>Ethiopia, India, Nicaragua and Rwanda: <br />using geospatial technology to monitor tree restoration </h2>
					<h3>TARGET 15.1 <span>Indicator 15.1.1</span></h3>
					<p>Forest area as a proportion of total land area</p>
					<img class="icon" src="../img/E-WEB-Goal-15.png" alt="four betters">

				</div>
			</div>
		</div>
		<div class="row">
			<div class="full">
				<div class="copy-img">
					<img class="info" src="../img/info.svg" alt="info">
					<div class="closed"><img src="../img/close.svg" alt="close"></div>
				</div>
				<div class="info-copy">
					<div>
						Collect Earth affords a stark view of the presence and absence of trees<br />
						©FAO
					</div>
				</div>
				<img class="full-img" data-src="../img/ch5_4.jpg" />
			</div>
		</div>
		<div class="row is-full maxWidth bgGrey reverse">
			<div class="half bg-half-indicator green">
				<div class="text">
					<h2>Mountain Green Cover Index: <br />innovative methods to monitor the health of mountain ecosystems</h2>
					<h3>TARGET 15.4 <span>Indicator 15.4.2</span></h3>
					<p>Mountain Green Cover Index</p>
					<img class="icon" src="../img/E-WEB-Goal-15.png" alt="four betters">

				</div>
			</div>
			<div class="half box-text order-bottom">
				<div class="text popUp right-block">
					<p class="alternative-font"><b>Background:</b><br />Mountain ecosystems provide vital resources to a significant proportion of the global population. But they are especially vulnerable to climate change. This is all the more alarming as mountain dwellers are among the world’s most food insecure.</p>
					<p class="alternative-font"><b>FAO’s actions:</b><br />Together with the UN Environment Programme World Conservation Monitoring Centre (UNEP-WCMC), FAO has developed free, open-source tools to strengthen national technical capacity to report on the <a href="https://www.fao.org/mountain-partnership/our-work/advocacy/2030-agenda-for-sustainable-development/mountain-green-cover-index/es/" class="link" title="Mountain Green Cover Index" target="_blank">Mountain Green Cover Index </a>(MGCI). </p>
					<p class="alternative-font"><b>Results: </b><br />FAO has established agreements with data providers on using Earth Observation (EO) images. The Organization has also developed a methodology to simplify and automatize the measuring and monitoring of the MGCI based on EO products. In 2021, this methodology earned FAO the Group on Earth Observations Sustainable Development Goals Award in the category “SDG custodian agency”. </p>
					<p class="alternative-font"><b>Impact:</b><br />EO data contributes both directly and indirectly to improving the availability, quality and consistency of SDG indicators. Part of FAO’s work towards more accurate monitoring of SDG progress includes working with Member Nations and partner organizations to further improve the MGCI methodology.  </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="full">
				<div class="copy-img">
					<img class="info" src="../img/info.svg" alt="info">
					<div class="closed"><img src="../img/close.svg" alt="close"></div>
				</div>
				<div class="info-copy">
					<div>
						Surveying the Andean environment of Peru<br />
						©FAO/Edson Vandeira
					</div>
				</div>
				<img class="full-img" data-src="../img/ch5-5.jpg" />
			</div>
		</div>


		<%= require('html-loader!./back-top.html') %>
		<div class="navigation">
			<% if(prevLink && prevLink.url) { %>
			<a href="<%= prevLink.url %>.html" class="prev" title="<%= prevLink.title %>">prev</a>
			<% } else {%>
			<a href="../<%= htmlWebpackPlugin.options.jobNumber %>.html" class="prev" title="homepage">prev</a>
			<% }%>
			<% if(nextLink && nextLink.url) { %>
			<a href="<%= nextLink.url %>.html" class="next" title="<%= nextLink.title %>">next</a>
			<% } %>
		</div>
	</div>
</div>
<%= require('html-loader!./footer.html') %>
</body>
</html>
