<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<meta name="DC.Identifier" content="<%= htmlWebpackPlugin.options.DOI %>" />
	<meta name="description" content="<%= htmlWebpackPlugin.options.description %>"/>

	<link rel="shortcut icon" href="../img/favicon.ico">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<%
	var location = htmlWebpackPlugin.options.filename.split('/').pop();
	for(var x=0; x < totLang.length; x++) {
	%>
	<% if(totLang[x].lang === htmlWebpackPlugin.options.lang) { %>
	<link rel="canonical" href="https://www.fao.org/3/<%= totLang[x].code %>/online/<%= acronym %>-<%= year %>/<%= location %>">
	<% } else { %>
	<link rel="alternate" hreflang="<%= totLang[x].lang %>" href="https://www.fao.org/3/<%= totLang[x].code %>/online/<%= acronym %>-<%= year %>/<%= location %>">
	<% } %>
	<% } %>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127786997_9">
	</script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-127786997-9');
	</script>
</head>
<body class="<%= structure %>" >
<div>
	<div class="head-wrap">
		<header>
			<div class="header">
				<div class="logos">
					<a href="http://www.fao.org" target="_blank" title="FAO - Food and Agriculture Organization"><img class="main-logo" src="../img/logo.svg" alt="FAO"></a>
				</div>
				<div class="language">
					<ul>
						<% for(var x=0; x < totLang.length; x++) {%>
						<% if(totLang[x].lang !== htmlWebpackPlugin.options.lang) { %>
						<li>
							<a href="http://www.fao.org/3/<%= totLang[x].code %>/online/<%= totLang[x].code %>.html" title="<%= totLang[x].code %>">
								<%= totLang[x].text %>
							</a>
						</li>
						<% } else { %>
						<li class="active">
							<%= totLang[x].text %>
							<img src="../img/caret-down.svg" alt="language">
						</li>
						<% } %>
						<% } %>
					</ul>
				</div>
				<div id="menu-toggle">
					<label for="toggle">
						<input type="checkbox" id="toggle"/>
						<span></span>
						<span></span>
						<span></span>
					</label>
				</div>
			</div>
		</header>
	</div>
</div>
<% if(prevLink && prevLink.url) { %>
<div class="hero-prev gradient" style="background-image: url('../img/<%= prevLink.img %>.jpg')" ></div>
<% } else {%>
<div class="hero-prev gradient" style="background-image: url('../img/home.jpg')"></div><% }%>
<div class="hero gradient" style="background-image: url('../img/<%= cover %>.jpg')" >
	<div class="copy-img">
		<img class="info" src="../img/info.svg" alt="info">
		<div class="closed"><img src="../img/close.svg" alt="close"></div>
	</div>
	<div class="info-copy">
		<div>
			Maasai women watering saplings at a community tree nursery in Kisiria Forest, Kenya<br />
			©FAO/Luis Tato
		</div>
	</div>
	<div class="navigation-top">
		<% if(prevLink && prevLink.url) { %>
		<a href="<%= prevLink.url %>.html" class="prev hero-swipe" title="<%= prevLink.title %>"><img src="../img/prev.svg" alt="<%= prevLink.title %>"></a>
		<% } else {%>
		<a href="../<%= htmlWebpackPlugin.options.jobNumber %>.html" class="prev hero-swipe" title="homepage"><img src="../img/prev.svg" alt="Homepage"></a>
		<% }%>
		<% if(nextLink && nextLink.url) { %>
		<a href="<%= nextLink.url %>.html" class="next hero-swipe" title="<%= nextLink.title %>"><img src="../img/next.svg" alt="<%= nextLink.title %>"></a>
		<% } %>
	</div>
	<div class="hero-content" >
		<div class="title bottom-left">
			<h1><%= htmlWebpackPlugin.options.title %></h1>
		</div>
		<div class="navigation-bars">
			<div class="menu">
				<nav>
					<ul>
						<li style="background: url('../img/home.jpg') no-repeat center center;">
							<a href="../<%= htmlWebpackPlugin.options.jobNumber %>.html" title="Homepage">
								<span>Home</span>
							</a>
						</li>
						<% for(var i=0; i < menu.length; i++) {%>
						<li style="background: url('../img/<%= menu[i].img %>.jpg') no-repeat center center;">
							<a href="<%= menu[i].url%>.html" title="<%= menu[i].title %>">
								<span><%= menu[i].title %></span>
							</a>
						</li>
						<% } %>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
<% if(nextLink && nextLink.url) { %>
<div class="hero-next gradient" style="background-image: url('../img/<%= nextLink.img %>.jpg')"  ></div>
<% }%>
<div class="container">
	<div class="plus" style="margin-bottom: 14rem"></div>
	<div class="wrap">
		<div class="break"></div>


		<div class="row maxWidth reverse">

			<div class="half">
				<div class="text popUp left">
					<p>Is progress towards the SDGs occurring at the rate needed to meet the deadline of the 2030 Agenda? Clearly, it is not. And yet, monumental setbacks aside, not all is lost. In September 2021, in a report that tracked progress on SDG indicators for food and agriculture, FAO found considerable advances in areas such as the implementation of measures against IUU fishing; sustainable forest management; elimination of agricultural export subsidies; investment to boost agricultural productivity in developing countries; and duty-free access for developing and least developed countries (LDCs), particularly for agricultural products.</p>
				</div>
			</div>
			<div class="half graphic" style="background: url('../img/ch8_1.jpg') no-repeat center center">
				<div class="copy-img">
					<img class="info" src="../img/info.svg" alt="info">
					<div class="closed"><img src="../img/close.svg" alt="close"></div>
				</div>
				<div class="info-copy">
					<div>
						Fishing for sprats on Lake Tanganyika near Kigoma, the United Republic of Tanzania <br />
						©FAO/Luis Tato
					</div>
				</div>
			</div>
		</div>
		<div class="row maxWidth is-full bgGrey">

			<div class="half graphic" style="background: url('../img/ch8_2.jpg') no-repeat center center">
				<div class="copy-img">
					<img class="info" src="../img/info.svg" alt="info">
					<div class="closed"><img src="../img/close.svg" alt="close"></div>
				</div>
				<div class="info-copy">
					<div>
						Fetching water for the cabbage patch in the village of Thiaye, Thiès Region, Senegal  <br />
						©FAO/Olivier Asselin
					</div>
				</div>
			</div>

			<div class="half">
				<div class="text popUp">
					<p>There is far more distance to go. The world must scale up investment in agriculture and relevant science and innovation. It should improve access to new agricultural technologies, credit services and information resources for farmers. There is a dire need to support small-scale food producers, to conserve plant and animal genetic resources for food and agriculture, and to adopt measures to counter food price volatility. More must be done to prevent potentially hazardous events from worsening into full-blown disasters. There is an imperative to use water more efficiently in regions most affected by high water stress; to target interventions to reduce food losse and waste; and to protect terrestrial and forest ecosystems in general. Much tougher action is wanted on the legal and practical aspects of women's land rights. The threat of IUU fishing must be fought more vigorously. And across all these objectives, there is an intense need for timely and high-quality data. </p>
				</div>
			</div>
		</div>

		<div class="row maxWidth reverse">

			<div class="half">
				<div class="text popUp left">
					<p>Since its establishment, FAO has been leading international efforts to end hunger and achieve food security in the world. It is now clear that its goals are the world’s goals; that they can only be achieved within the framework of sustainable development, where economic growth is coupled with social development and environmental protection. FAO therefore endeavours to empower local communities, which in turn coalesce to pave the way for achieving the 2030 Agenda and the SDGs. The road is never smooth. But this overarching mission, evidenced by FAO’s role as a custodian agency for 21 SDG indicators and host of the <b>UN Food Systems Coordination Hub</b>, will carry on unabated: FAO will continue to engage all actors, including the private sector as a strategic partner, to shape thriving, sustainable, humanity-enhancing agrifood systems.</p>
				</div>
			</div>
			<div class="half graphic" style="background: url('../img/ch8_3.jpg') no-repeat center center">
				<div class="copy-img">
					<img class="info" src="../img/info.svg" alt="info">
					<div class="closed"><img src="../img/close.svg" alt="close"></div>
				</div>
				<div class="info-copy">
					<div>
						Speaking up for Saami traditional knowledge and Indigenous fisheries expertise at FAO headquarters  <br />
						©FAO/Alessia Pierdomenico
					</div>
				</div>
			</div>
		</div>
		<%= require('html-loader!./back-top.html') %>
		<div class="navigation">
			<% if(prevLink && prevLink.url) { %>
			<a href="<%= prevLink.url %>.html" class="prev" title="<%= prevLink.title %>">prev</a>
			<% } else {%>
			<a href="../<%= htmlWebpackPlugin.options.jobNumber %>.html" class="prev" title="homepage">prev</a>
			<% }%>
			<% if(nextLink && nextLink.url) { %>
			<a href="<%= nextLink.url %>.html" class="next" title="<%= nextLink.title %>">next</a>
			<% } %>
		</div>
	</div>
</div>
<%= require('html-loader!./footer.html') %>
</body>
</html>
