<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="DC.Identifier" content="<%= htmlWebpackPlugin.options.DOI %>" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />

    <link rel="shortcut icon" href="../img/favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%
    var location = htmlWebpackPlugin.options.filename.split('/').pop();
    for(var x=0; x < totLang.length; x++) {
    %>
    <% if(totLang[x].lang === htmlWebpackPlugin.options.lang) { %>
    <link rel="canonical" href="https://www.fao.org/3/<%= totLang[x].code %>/online/<%= acronym %>-<%= year %>/<%= location %>">
    <% } else { %>
    <link rel="alternate" hreflang="<%= totLang[x].lang %>" href="https://www.fao.org/3/<%= totLang[x].code %>/online/<%= acronym %>-<%= year %>/<%= location %>">
    <% } %>
    <% } %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127786997_9">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-127786997-9');
    </script>
</head>
<body class="<%= structure %>">
    <div>
        <div class="head-wrap">
            <header>
                <div class="header">
                    <div class="logos">
                        <a href="http://www.fao.org" target="_blank" title="FAO - Food and Agriculture Organization"><img class="main-logo" src="../img/logo.svg" alt="FAO"></a>
                    </div>
                    <div class="language">
                        <ul>
                            <% for(var x=0; x < totLang.length; x++) {%>
                            <% if(totLang[x].lang !== htmlWebpackPlugin.options.lang) { %>
                            <li>
                                <a href="http://www.fao.org/3/<%= totLang[x].code %>/online/<%= totLang[x].code %>.html" title="<%= totLang[x].code %>">
                                    <%= totLang[x].text %>
                                </a>
                            </li>
                            <% } else { %>
                            <li class="active">
                                <%= totLang[x].text %>
                                <img src="../img/caret-down.svg" alt="language">
                            </li>
                            <% } %>
                            <% } %>
                        </ul>
                    </div>
                    <div id="menu-toggle">
                        <label for="toggle">
                            <input type="checkbox" id="toggle"/>
                            <span></span>
                            <span></span>
                            <span></span>
                        </label>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <% if(prevLink && prevLink.url) { %>
    <div class="hero-prev gradient" style="background-image: url('../img/<%= prevLink.img %>.jpg')"></div>
    <% } else {%>
    <div class="hero-prev" style="background-image: url('../img/home.jpg')"></div><% }%>
    <div class="hero gradient" style="background-image: url('../img/<%= cover %>.jpg')">
        <div class="copy-img">
            <img class="info" src="../img/info.svg" alt="info">
            <div class="closed"><img src="../img/close.svg" alt="close"></div>
        </div>
        <div class="info-copy">
            <div>
                The UN declared 2021 the International Year of Fruits and Vegetables<br />
                ©Unsplash/Taylor Kiser
            </div>
        </div>
        <div class="navigation-top">
            <% if(prevLink && prevLink.url) { %>
            <a href="<%= prevLink.url %>.html" class="prev hero-swipe" title="<%= prevLink.title %>"><img src="../img/prev.svg" alt="<%= prevLink.title %>"></a>
            <% } else {%>
            <a href="../<%= htmlWebpackPlugin.options.jobNumber %>.html" class="prev hero-swipe" title="homepage"><img src="../img/prev.svg" alt="Homepage"></a>
            <% }%>
            <% if(nextLink && nextLink.url) { %>
            <a href="<%= nextLink.url %>.html" class="next hero-swipe" title="<%= nextLink.title %>"><img src="../img/next.svg" alt="<%= nextLink.title %>"></a>
            <% } %>
        </div>
        <div class="hero-content">
            <div class="title bottom-left">
                <h1><%= htmlWebpackPlugin.options.title %></h1>
            </div>
            <div class="navigation-bars">
                <div class="menu">
                    <nav>
                        <ul>
                            <li style="background: url('../img/home.jpg') no-repeat center center;">
                                <a href="../<%= htmlWebpackPlugin.options.jobNumber %>.html" title="Homepage">
                                    <span>Home</span>
                                </a>
                            </li>
                            <% for(var i=0; i < menu.length; i++) {%>
                            <li style="background: url('../img/<%= menu[i].img %>.jpg') no-repeat center center;">
                                <a href="<%= menu[i].url%>.html" title="<%= menu[i].title %>">
                                    <span><%= menu[i].title %></span>
                                </a>
                            </li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <% if(nextLink && nextLink.url) { %>
    <div class="hero-next gradient" style="background-image: url('../img/<%= nextLink.img %>.jpg')"></div>
    <% }%>
    <div class="container">
        <div class="plus"></div>
        <div class="wrap">
            <div class="row">
                <div class="half popUp up">
                    <div class="text align-center just-center direction-column d-flex">
                        <p class="extra-small-quote">
                            Better nutrition aims to end hunger, achieve food security and improve nutrition in all its forms, including promoting nutritious food and increasing access to healthy diets.
                        </p>
                        <img class="img-shadow" src="../img/BN_logo.svg" alt="Better Nutrition" style="max-width: 200px;margin-top: 5rem">
                    </div>
                </div>
                <div class="half popUp">
                    <div class="text">
                        <p>Better nutrition means:</p>
                        <ul class="list">
                            <li><em>decreased undernourishment,</em> especially during the early years of life, to raise healthy, productive individuals; </li>
                            <li><em>healthy food supply</em> to promote overall well-being;</li>
                            <li><em>increased food security</em>, which leads to more balanced food prices and greater access by poorer people to all products and services;</li>
                            <li><em>improved food safety</em> to safeguard public health and reduce the premature mortality of mothers and children from non-communicable diseases; and</li>
                            <li><em>better food distribution</em> to reduce food loss and waste, and increase community self-sufficiency.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row is-full maxWidth bgGrey reverse">

                <div class="half box-text">
                    <div class="text popUp left">
                        <p><b>Background:</b><br />Georgette Iyenze’s experience echoes that of many Congolese women. Displaced to a forest camp by intercommunal conflict, she returned home to Sankuru Province with three of eight children severely malnourished. </p>
                        <p><b>FAO’s actions:</b><br />With Belgian and European Union funding, FAO set out to tackle malnutrition in children under five, and in pregnant and breastfeeding women, in Sankuru. The project relied on the community to conduct home-based screenings of children. Each household received a kit to grow vegetables. Meanwhile, live cooking demonstrations helped women provide their children with healthy diets.</p>
                        <p><b>Results: </b><br />Iyenze visited the health centre twice a week to attend the nutritious-food demonstrations organized by FAO staff with the centre’s medical team and Congolese non-governmental organization, Coeur de Compassion in Sankuru. Data collected in 2019 showed the health centre treating 220 malnourished children in the area, and 32 children no longer malnourished as a direct result of FAO’s nutrition training. </p>
                        <p><b>Impact:</b><br />FAO’s multipronged approach has allowed more children to receive adequate nutrition in their first 1 000 days of life. This helps strengthen food security in both the short term, by reducing wasting and stunting, and the long term, by laying the foundation for healthier generations.</p>
                    </div>
                </div>
                <div class="half bg-half-indicator mustard">
                    <div class="text right-block">
                        <h2>The Democratic Republic of the Congo: <br />diversified diets ease malnutrition burden</h2>
                        <h3>TARGET 2.1 <span>Indicator 2.1.1</span></h3>
                        <p>Prevalence of undernourishment</p>
                        <img class="icon" src="../img/E-WEB-Goal-02.png" alt="four betters">

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="full">
                    <div class="copy-img">
                        <img class="info" src="../img/info.svg" alt="info">
                        <div class="closed"><img src="../img/close.svg" alt="close"></div>
                    </div>
                    <div class="info-copy">
                        <div>
                            Picking potatoes in the Okapi Wildlife Reserve, the Democratic Republic of the Congo<br />
                            ©FAO/Thomas Nicolon
                        </div>
                    </div>
                    <img class="full-img" data-src="../img/ch4_1.jpg" />
                </div>
            </div>
            <div class="row is-full maxWidth bgGrey reverse">
                <div class="half bg-half-indicator mustard">
                    <div class="text">
                        <h2>Ensuring people’s right to food: BOLIVIA (PLURINATIONAL STATE OF), CAMBODIA, EL SALVADOR, MOZAMBIQUE, NEPAL, SENEGAL AND TOGO</h2>
                        <h3>TARGET 2.1 <span>Indicator 2.1.1</span></h3>
                        <p>Prevalence of moderate or severe food insecurity in the population, based on the Food Insecurity Experience Scale (FIES)</p>
                        <img class="icon" src="../img/E-WEB-Goal-02.png" alt="four betters">

                    </div>
                </div>
                <div class="half box-text order-bottom">
                    <div class="text popUp right-block">
                        <p>
                            <b>Background:</b><br />Food is a human right, enshrined in the International Covenant on Economic, Social and Cultural Rights. To promote its implementation, FAO Member Nations have adopted the Right to Food Guidelines.
                        </p>
                        <p><b>FAO’s actions:</b><br />The Organization has worked in Kenya, Mozambique, Senegal and Togo; in the Plurinational State of Bolivia and El Salvador; and in Cambodia and Nepal to help operationalize the right to food of vulnerable groups. Knowledge co-creation events, policy dialogues and partnerships have driven standard-setting and built institutional capacity. </p>
                        <p><b>Results: </b><br />Mozambique’s Technical Secretariat for Food Security and Nutrition, the Bolivian National Council for Food and Nutrition, and El Salvador’s National Council for Food Security and Nutrition were strengthened to lead normative and policy processes on the right to Food. Nepal enshrined the Right in its constitution. Regional expert consultations organized in Colombia, Kenya and Senegal brought together food experts, parliamentarians and policymakers, including the UN Special Rapporteur on the Right to Food. Research in Cambodia, Senegal and Togo analysed the impact of gender policy in the field. </p>
                        <p><b>Impact:</b><br />The Right to Food Guidelines have influenced global efforts to eradicate hunger and malnutrition. Grounded in human rights, they remain highly relevant to the 2030 Agenda. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="full">
                    <div class="copy-img">
                        <img class="info" src="../img/info.svg" alt="info">
                        <div class="closed"><img src="../img/close.svg" alt="close"></div>
                    </div>
                    <div class="info-copy">
                        <div>
                            School meal in Brasília, Brazil. The country’s school feeding programme is an example for the world<br />
                            ©FAO/Ubirajara Machado
                        </div>
                    </div>
                    <img class="full-img" data-src="../img/ch4_2.jpg" />
                </div>
            </div>
            <div class="row is-full maxWidth bgGrey reverse">

                <div class="half box-text order-bottom">
                    <div class="text popUp left">
                        <p>
                            <b>Background:</b><br />The deadliest form of malnutrition, wasting is characterized by a rapid deterioration in nutritional status, over a short period of time, in children under five; it is associated with a twelvefold rise in the risk of death.
                        </p>
                        <p><b>FAO’s actions:</b><br />At the request of the UN Secretary-General, FAO and partner agencies have designed, and are jointly supporting, a <a href="https://www.who.int/publications/m/item/global-action-plan-on-child-wasting-a-framework-for-action" title="Global action plan on child wasting" class="link" target="_blank">Global Action Plan (GAP) on Child Wasting</a>. It aims to reduce the prevalence of child wasting to less than 5 percent by 2025, and to less than 3 percent by 2030. Policy recommendations found in national strategic documents have been mapped against the GAP framework to gauge government commitments. This has led to the publication of country policy maps.</p>
                        <p><b>Results: </b><br />FAO has developed a user-friendly, all-in-one interactive dashboard organized by country, system and priority action. The GAP also introduced a series of  guidance notes specific to each sector to support governments and partners, building on experience from 12 countries.</p>
                        <p><b>Impact:</b><br />Through information and policy support, FAO contributes to safeguarding and improving nutrition of at-risk and crisis-affected populations. The Organization promotes an enabling environment to strengthen the humanitarian–development–peace nexus for improved nutrition and achievement of SDG 2 (Zero Hunger).</p>
                    </div>
                </div>
                <div class="half bg-half-indicator mustard direction-column order-bottom">
                    <div class="text alternative-text right-block">
                        <h2>Designing policies and using impact pathways to reduce malnutrition and child wasting</h2>
                        <h3>TARGET 2.2 <span>Indicator 2.2.2</span></h3>
                        <p>Prevalence of malnutrition among children under 5 years of age, by type (wasting and overweight). Also relevant to SDG 3 (Good Health and Well-being)</p>
                        <img class="icon" src="../img/E-WEB-Goal-02.png" alt="four betters">

                    </div>
                    <div class="alternative-row-green">
                        <div class="text right-block">
                            <h3>TARGET 3.2 <span>Indicator 3.2.1</span></h3>
                            <p>Under-5 mortality rate</p>
                            <img class="icon" src="../img/E-WEB-Goal-03.png" alt="four betters">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="full">
                    <div class="copy-img">
                        <img class="info" src="../img/info.svg" alt="info">
                        <div class="closed"><img src="../img/close.svg" alt="close"></div>
                    </div>
                    <div class="info-copy">
                        <div>
                            Internally displaced mothers at a Médecins Sans Frontières (MSF) pediatric clinic in Yusuf Batil camp, South Sudan<br />
                            © FAO/Giuseppe Carotenuto
                        </div>
                    </div>
                    <img class="full-img" data-src="../img/ch4_3.jpg" />
                </div>
            </div>
            <div class="row is-full maxWidth bgGrey reverse">
                <div class="half bg-half-indicator mustard align-center direction-column">
                    <div class="text alternative-text">
                        <h2>Home-grown school feeding: improving child nutrition while supporting smallholder farmers</h2>
                        <h3>TARGET 2.2 <span>Indicator 2.2.2</span></h3>
                        <p>Prevalence of malnutrition among children under 5 years of age, by type (wasting and overweight). Also relevant to SDG 3 (Good Health and Well-being)</p>
                        <img class="icon" src="../img/E-WEB-Goal-02.png" alt="four betters">

                    </div>
                    <div class="alternative-row-green">
                        <div class="text">
                            <h3>TARGET 3.2 <span>Indicator 3.2.2</span></h3>
                            <p>Under-5 mortality rate</p>
                            <img class="icon" src="../img/E-WEB-Goal-03.png" alt="four betters">
                        </div>
                    </div>
                </div>
                <div class="half box-text order-bottom">
                    <div class="text popUp right-block">
                        <p>
                            <b>Background:</b><br />School feeding programmes nourish children and expand access to education. Additionally, an increasing number of governments are sourcing food for school meals locally from smallholder farmers (“home-grown school feeding”).
                        </p>
                        <p><b>FAO’s actions:</b><br />With donors increasingly asked to support national school feeding efforts, FAO has joined the World Food Programme (WFP) and the International Fund for Agricultural Development (IFAD) as a stakeholder in the <a href="https://gcnf.org/" title="Global Child Nutrition Foundation" class="link" target="_blank">Global Child Nutrition Foundation</a>, the <a href="https://www.imperial.ac.uk/partnership-for-child-development" title="Partnership for Child Development" class="link" target="_blank">Partnership for Child Development</a>, and the <a href="https://www.nepad.org/" title="New Partnership for Africa’s Development" class="link" target="_blank">New Partnership for Africa’s Development</a>.</p>
                        <p><b>Results: </b><br />FAO has supported Angola, Honduras and Peru to incorporate fish into national school feeding programmes, encouraging them to include small-scale fishers and aquaculture producers in their procurement schemes.</p>
                        <p><b>Impact:</b><br />Home-grown school feeding programmes boost local food production; create business opportunities for rural producers and processors with little access to markets; and contribute to communities’ socioeconomic development. In Honduras, FAO found an “acceptability rate” – children’s willingness to eat the fish – for tilapia meals of 100 percent in the three schools tested; in Peru, acceptability rates for vacuum-sealed salted anchovies, which have a 12-month shelf life, reached 88 percent. There were also high acceptability rates for fish soup, fish pie and fish croquettes derived from powdered mackerel in Angola. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="full">
                    <div class="copy-img">
                        <img class="info" src="../img/info.svg" alt="info">
                        <div class="closed"><img src="../img/close.svg" alt="close"></div>
                    </div>
                    <div class="info-copy">
                        <div>
                            FAO’s Hunger-Free Latin America and the Caribbean 2025 Initiative in action at Aldea el Horizonte, Guatemala<br />
                            ©NOOR for FAO/Pep Bonet
                        </div>
                    </div>
                    <img class="full-img" data-src="../img/ch4_4.jpg" />
                </div>
            </div>
            <div class="row is-full maxWidth bgGrey reverse">

                <div class="half box-text order-bottom">
                    <div class="text popUp left">
                        <p><b>Background:</b><br /> One way for farmers to boost their bargaining power is to work the land and sell their produce as a group, based on agreements with buyers. In southern and central Kenya, some 15 000 farmers have joined forces to form groups that are 15- to 30-strong. Several farmers’ groups, in turn, constitute a community-based organization (CBO), which is normally registered with the county government. </p>
                        <p><b>FAO’s actions:</b><br /> FAO has supported the association process and helped train farmers’ groups in conservation agriculture; in reducing production costs and post-harvest losses; in meeting quality standards; and in selecting and packaging their production.  </p>
                        <p><b>Results: </b><br />Farmers’ incomes have gone up and become more regular. Through groups and CBOs, farmers can also access loans to buy seeds, fertilizers and pesticides at a lower cost, as well as hire equipment. </p>
                        <p><b>Impact:</b><br />FAO plays a key role in monitoring, analysing and disseminating food price data along the food supply chain, from producer to consumer, across domestic and international markets. Supporting the establishment of farmers’ groups and CBOs also means FAO works for fairer producer prices and more secure livelihoods.  </p>
                    </div>
                </div>

                <div class="half bg-half-indicator mustard order-bottom">
                    <div class="text right-block">
                        <h2>Kenya:<br /> more clout for farmers through farmers’ groups and collective marketing </h2>
                        <h3>TARGET 2.<span>c</span> <span>Indicator 2.c.1</span></h3>
                        <p>Indicator of food price anomalies</p>
                        <img class="icon" src="../img/E-WEB-Goal-02.png" alt="four betters">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="full">
                    <div class="copy-img">
                        <img class="info" src="../img/info.svg" alt="info">
                        <div class="closed"><img src="../img/close.svg" alt="close"></div>
                    </div>
                    <div class="info-copy">
                        <div>
                            Harvesting sorghum, a drought-resistant staple, in Tharaka Nithi County, Kenya<br />
                            ©FAO/Tian Cai
                        </div>
                    </div>
                    <img class="full-img" data-src="../img/ch4_5.jpg" />
                </div>
            </div>
            <%= require('html-loader!./back-top.html') %>
            <div class="navigation">
                <% if(prevLink && prevLink.url) { %>
                <a href="<%= prevLink.url %>.html" class="prev" title="<%= prevLink.title %>">prev</a>
                <% } else {%>
                <a href="../<%= htmlWebpackPlugin.options.jobNumber %>.html" class="prev" title="homepage">prev</a>
                <% }%>
                <% if(nextLink && nextLink.url) { %>
                <a href="<%= nextLink.url %>.html" class="next" title="<%= nextLink.title %>">next</a>
                <% } %>
            </div>
        </div>
    </div>
    <%= require('html-loader!./footer.html') %>
</body>
</html>
