<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<meta name="DC.Identifier" content="<%= htmlWebpackPlugin.options.DOI %>" />
	<meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
	<link rel="shortcut icon" href="../img/favicon.ico">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<%
	var location = htmlWebpackPlugin.options.filename.split('/').pop();
	for(var x=0; x < totLang.length; x++) {
	%>
	<% if(totLang[x].lang === htmlWebpackPlugin.options.lang) { %>
	<link rel="canonical" href="https://www.fao.org/3/<%= totLang[x].code %>/online/<%= acronym %>-<%= year %>/<%= location %>">
	<% } else { %>
	<link rel="alternate" hreflang="<%= totLang[x].lang %>" href="https://www.fao.org/3/<%= totLang[x].code %>/online/<%= acronym %>-<%= year %>/<%= location %>">
	<% } %>
	<% } %>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127786997_9">
	</script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-127786997-9');
	</script>
</head>
<body class="<%= structure %>">
	<div>
		<div class="head-wrap">
			<header>
				<div class="header">
					<div class="logos">
						<a href="http://www.fao.org" target="_blank" title="FAO - Food and Agriculture Organization"><img class="main-logo" src="../img/logo.svg" alt="FAO"></a>
					</div>
					<div class="language">
						<ul>
							<% for(var x=0; x < totLang.length; x++) {%>
							<% if(totLang[x].lang !== htmlWebpackPlugin.options.lang) { %>
							<li>
								<a href="http://www.fao.org/3/<%= totLang[x].code %>/online/<%= totLang[x].code %>.html" title="<%= totLang[x].code %>">
									<%= totLang[x].text %>
								</a>
							</li>
							<% } else { %>
							<li class="active">
								<%= totLang[x].text %>
								<img src="../img/caret-down.svg" alt="language">
							</li>
							<% } %>
							<% } %>
						</ul>
					</div>
					<div id="menu-toggle">
						<label for="toggle">
							<input type="checkbox" id="toggle" />
							<span></span>
							<span></span>
							<span></span>
						</label>
					</div>
				</div>
			</header>
		</div>
	</div>
	<% if(prevLink && prevLink.url) { %>
	<div class="hero-prev gradient" style="background-image: url('../img/<%= prevLink.img %>.jpg')"></div>
	<% } else {%>
	<div class="hero-prev" style="background-image: url('../img/home.jpg')"></div><% }%>
	<div class="hero gradient-top" style="background-image: url('../img/<%= cover %>.jpg')">
		<div class="copy-img">
			<img class="info" src="../img/info.svg" alt="info">
			<div class="closed"><img src="../img/close.svg" alt="close"></div>
		</div>
		<div class="info-copy">
			<div>
				High-altitude terrace farming in the Himalayas, Ladakh, India<br />
				©FAO/Anupam Anand
			</div>
		</div>
		<div class="navigation-top">
			<% if(prevLink && prevLink.url) { %>
			<a href="<%= prevLink.url %>.html" class="prev hero-swipe" title="<%= prevLink.title %>"><img src="../img/prev.svg" alt="<%= prevLink.title %>"></a>
			<% } else {%>
			<a href="../<%= htmlWebpackPlugin.options.jobNumber %>.html" class="prev hero-swipe" title="homepage"><img src="../img/prev.svg" alt="Homepage"></a>
			<% }%>
			<% if(nextLink && nextLink.url) { %>
			<a href="<%= nextLink.url %>.html" class="next hero-swipe" title="<%= nextLink.title %>"><img src="../img/next.svg" alt="<%= nextLink.title %>"></a>
			<% } %>
		</div>
		<div class="hero-content">
			<div class="title top-right">
				<h1><%= htmlWebpackPlugin.options.title %></h1>
			</div>
			<div class="navigation-bars">
				<div class="menu">
					<nav>
						<ul>
							<li style="background: url('../img/home.jpg') no-repeat center center;">
								<a href="../<%= htmlWebpackPlugin.options.jobNumber %>.html" title="Homepage">
									<span>Home</span>
								</a>
							</li>
							<% for(var i=0; i < menu.length; i++) {%>
							<li style="background: url('../img/<%= menu[i].img %>.jpg') no-repeat center center;">
								<a href="<%= menu[i].url%>.html" title="<%= menu[i].title %>">
									<span><%= menu[i].title %></span>
								</a>
							</li>
							<% } %>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<% if(nextLink && nextLink.url) { %>
	<div class="hero-next gradient-top" style="background-image: url('../img/<%= nextLink.img %>.jpg')"></div>
	<% }%>
	<div class="container">
		<div class="plus"></div>
		<div class="wrap">
			<div class="row">
				<div class="half popUp left">
					<div class="text">
						<p>Overheated, overstretched and riven by wealth extremes, our world sits on multiple knife edges. There may be 10 billion of us by 2050 – and already, the race to keep ourselves fed is straining the planet. Biodiversity is ailing. Resurgent conflict cripples food supplies. Poor nutrition saps health. Battered by water stress, whole regions dry up. Primary education still eludes millions of children. Gender inequality threatens society’s fabric. Climate change, deforestation and the overexploitation of resources are sending humanity into a tailspin. </p>

						<p>Seeking to turn the tide, 193 countries have – laudably – agreed upon the <b><a href="https://sdgs.un.org/2030agenda" class="link" title="Transforming our world: the 2030 Agenda for Sustainable Development" target="_blank">2030 Agenda on Sustainable Development</a></b> and its Sustainable Development Goals (SDGs). But having an agenda is not enough. With less than a decade left, we are off track to meet the Goals. To make matters worse, over the last two harrowing years, the COVID-19 pandemic has reversed progress on many targets.</p>
					</div>
				</div>
				<div class="half popUp order-bottom align-center just-center">
					<a href="https://sdgs.un.org/" title=" Sustainable Development" target="_blank">
						<img class="img-shadow" src="../img/SDGs_logo_EN.svg" alt="info">
					</a>
				</div>
			</div>
			<div class="row is-full bgGrey">
				<div class="half graphic align-center just-center">
					<div class="video">
						<iframe src="https://www.youtube.com/embed/A9iRBVEU72c"></iframe>

					</div>
				</div>
				<div class="half popUp">
					<div class="text">
						<p>Back in 2019, the <b><a href="https://sdgs.un.org/gsdr/gsdr2019" class="link" title="Global Sustainable Development Report (GSDR) 2019" target="_blank">Global Sustainable Development Report</a></b> had identified food systems and nutrition patterns as entry points for transformative action across the SDGs. This is – even more starkly – still the case today. Agrifood systems are essential to human survival and to a world free from hunger: without them, no Goal, including the eradication of hunger and poverty, can be achieved. It is also true that as they stand, agrifood systems are unbalanced; they can entrench injustice; and they generate a large share of harmful emissions. To make agrifood systems decisively the solution rather than the problem, we must starve out those parts of them that feed on inequality and environmental degradation. And to do so credibly and efficiently, we must start from the ground up – at the local community level. </p>
					</div>
				</div>
			</div>
			<%= require('html-loader!./back-top.html') %>
			<div class="navigation">
				<% if(prevLink && prevLink.url) { %>
				<a href="<%= prevLink.url %>.html" class="prev" title="<%= prevLink.title %>">prev</a>
				<% } else {%>
				<a href="../<%= htmlWebpackPlugin.options.jobNumber %>.html" class="prev" title="homepage">prev</a>
				<% }%>
				<% if(nextLink && nextLink.url) { %>
				<a href="<%= nextLink.url %>.html" class="next" title="<%= nextLink.title %>">next</a>
				<% } %>
			</div>
		</div>
	</div>
	<%= require('html-loader!./footer.html') %>
	
	</body>
	</html>
