<!doctype html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% for(var x=0; x < totLang.length; x++) {%>
    <% if(totLang[x].lang === htmlWebpackPlugin.options.lang) { %>
    <link rel="canonical" href="https://www.fao.org/3/<%= totLang[x].code %>/online/<%= totLang[x].code %>.html">
    <% } else { %>
    <link rel="alternate" hreflang="<%= totLang[x].lang %>" href="https://www.fao.org/3/<%= totLang[x].code %>/online/<%= totLang[x].code %>.html">
    <% } %>
    <% } %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preload" as="image" href="../images/<%= cover %>.jpg">
    <link rel="shortcut icon" href="../images/favicon.ico">
</head>
<body>
    <!--header-->
    <header class="navbar  navbar-expand-lg navbar-dark fixed-top bg-primary">
        <div class="container gap-4">

            <a class="navbar-brand" href="https://www.fao.org" target="_blank"
               title="FAO - Food and Agriculture Organization">
                <img src="../images/logo-white.svg" alt="FAO">
            </a>

            <button class="navbar-toggler third-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <div class="menu-icon"><span class="w-50"></span><span></span><span class="w-75"></span></div>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="my-4 d-lg-none d-xl-none">
                    <ul class="list-unstyled px-2">
                        <li class="border-bottom">
                            <a class="text-white text-decoration-none text-uppercase py-2 fs-6" href="../<%= htmlWebpackPlugin.options.jobNumber %>.html" title="Homepage">
                                <span>Home</span>
                            </a>
                        </li>
                        <%for (var i = 0; i < menu.length; i++) {%>
                        <li class="border-bottom">
                            <%if (menu[i].subMenu != undefined && menu[i].subMenu != null && menu[i].subMenu.length > 0) {%>
                            <a class="text-white text-decoration-none text-uppercase py-2 fs-6" type="button" data-bs-toggle="collapse"
                               data-bs-target="#panelsStayOpen-collapse<%= i  %>" aria-expanded="true"
                               aria-controls="panelsStayOpen-collapse<%= i  %>">
                                <%= menu[i].chapterNumber %> <%= menu[i].title %>
                            </a>
                            <div id="panelsStayOpen-collapse<%= i  %>" class="sub-menu px-3 py-1 collapse"
                                 aria-labelledby="panelsStayOpen-heading">
                                <ul class="list-unstyled">
                                    <%for (var y = 0; y < menu[i].subMenu.length; y++) {%>
                                    <li class="py-1"><a target="_self" class="text-white text-decoration-none text-uppercase fs-6 close-navbar" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html<%=menu[i].subMenu[y].subMenuLink%>" title="<%=menu[i].subMenu[y].subMenuTitle%>"><%=menu[i].subMenu[y].subMenuTitle%></a></li>
                                    <%}%>
                                </ul>
                            </div>
                            <%} else {%>
                            <a href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html" title="Homepage" class="text-white text-decoration-none text-uppercase fs-6 py-2">
                                <%= menu[i].chapterNumber %> <%= menu[i].title %>
                            </a>
                            <%}%>
                        </li>
                        <%}%>
                        <li class="py-2 mt-5 pt-5  d-flex justify-content-between">

                            <a href="https://www.fao.org/documents/card/en/c/jobnumberen" target="_blank" class="btn border text-white rounded-0  download-pdf">DOWNLOAD PDF</a>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="search-form d-flex align-items-center gap-2 search-form-mobile" role="search">
                <a class="nav-link text-uppercase d-md-none d-lg-none d-xl-none" aria-current="page" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false" href="#" title="#">
                    <span class="material-symbols-outlined text-white">
                        search
                    </span>
                </a>
                <div id="searchMobile" class=" w-100 mt-0 rounded-0 bg-primary " aria-labelledby="navbarDropdown">
                    <div class="conatiner d-flex align-items-center gap-2 p-2" role="search">
                        <form id="searchMain" class="search-form d-flex align-items-center gap-2" role="search">
                            <label class="text-white">SEARCH</label>
                            <input id="searchTextMain" class="form-control me-2 bg-transparent border-0 border-bottom rounded-0 p-0 text-white" type="search"
                                   aria-label="Search">
                            <button class="btn btn-outline-success button-search" type="submit" data-bs-toggle="modal" data-bs-target="#extModal"></button>
                        </form>

                        <span id="searchResult" class="me-2 bg-transparent border-0 rounded-0 p-0 text-white">0/0</span>
                        <nav aria-label="Page navigation">
                            <ul class="pagination mb-1">
                                <li id="prev" class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Previous" onclick="javascript:prev();">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li id="next" class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Next" onclick="javascript:next();">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <a class="btn btn-transparent dropdown-toggle text-white border-0" href="#" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    ENGLISH
                </a>
                <ul class="dropdown-menu ">
                    <li><a class="dropdown-item" href="#">العربية</a></li>
                    <li><a class="dropdown-item" href="#">中文 </a></li>
                    <li><a class="dropdown-item" href="#">Español </a></li>
                    <li><a class="dropdown-item" href="#">Français  </a></li>
                    <li><a class="dropdown-item" href="#">Русский </a></li>
                </ul>
            </div>

            <a href="https://www.fao.org/documents/card/en/c/jobnumberen" target="_blank" class="btn border text-white rounded-0 d-none d-lg-flex download-pdf">DOWNLOAD PDF</a>
        </div>
    </header>

    <!--Image-->
    <section class="hero chapter-hero d-flex" style="background: url('../images/<%= cover %>.jpg') no-repeat center/cover;">
        <div class="container px-4 py-5 d-flex gap-4 align-items-end">
            <div class="col-md-9 ms-auto">
                <h1 class="display-3 mb-3 text-white h1-chapter">
                    <span class="display-4">CHAPTER 3</span><br /> <%= htmlWebpackPlugin.options.title %>
                </h1>
            </div>
        </div>
    </section>

    <main>
        <div class="search-main container  mt-5">
            <div class="row">
                <!--Sidebar menu -->
                <div id="sidebar-container" class="col-md-3 position-sticky d-none d-lg-block">
                    <div class="title-sidebar w-75 text-dark-light border px-4 py-3 mb-4">
                        <a href="../<%= htmlWebpackPlugin.options.jobNumber %>.html" title="Homepage" class="link-unstyled"><h2 class="fs-2 w-50"><%= pubTitle %></h2></a>
                    </div>
                    <div id="top-menu" class="nav nav-pills flex-column">
                        <h2 class="fs-5 text-primary w-75 h1-chapter">
                            <span class="fs-6 ">CHAPTER 3</span> <%= htmlWebpackPlugin.options.title %>
                        </h2>
                        <div class="sidebar-line my-2"></div>
                        <a class="nav-link ps-0 text-dark" href="#item-1-1">3.1 Introduction</a>
                        <a class="nav-link ps-0 text-dark" href="#item-1-2">3.2 Current debates on targeting</a>
                        <a class="nav-link ps-0 text-dark" href="#item-1-3">3.3 Targeting mechanisms</a>
                        <a class="nav-link ps-0 text-dark" href="#item-1-4">3.4 The targeting process</a>
                    </div>
                </div>

                <!--Start introduction-->
                <div class="col-md-9 ms-auto mb-5">
                    <p class="paragraph">
                        Once poverty has been measured through the different methodologies and
                        indicators introduced in the previous chapter, a subsequent step in poverty
                        analysis may be to identify where the poor live and explore their socioeconomic
                        characteristics. This chapter gives an overview of the most common uses of
                        poverty estimates: poverty profiles and poverty mapping. First, the chapter
                        provides the reader with the most common applications when creating poverty
                        profiles, including how to organize the data in such way to best portray where
                        the poor live, as well as their socioeconomic characteristics. The chapter
                        provides a comprehensive list of indicators to best characterize the poor in
                        general, and the rural poor in particular. The second part of the chapter presents
                        an overview of poverty mapping techniques, including those that are most
                        widely utilized, as well as new poverty mapping approaches based on
                        non-traditional sources of data. How to correctly interpret poverty maps is also
                        part of what this chapter offers.
                    </p>
                    <hr class="mt-5 mb-0">


                    <!--Start first paragraph with id=item-1-1-->
                    <div id="item-1-1" class="paragraph-section">

                        <h3 class="title-chapter fs-3 text-primary text-uppercase"><span>3.1 </span>INTRODUCTION</h3>
                        <p>
                            The measurement of poverty is preceded by a longstanding tradition in empirical economics. It
                            is not surprising that a wealth of well-developed economic literature on poverty measurement
                            exists. Even if this is the case, there is still no widespread agreement among researchers on the
                            best methodology to measure poverty, and the characteristics of rural settings makes poverty
                            measurement in them more challenging. This is largely due to a lack of agreement on the
                            definition of welfare1
                            that should underpin the measurement of poverty. Nevertheless, the steps
                            involved in the empirical implementation of the different poverty measurement approaches are
                            very similar. In a nutshell, that is to say: the poor are identified by comparing, for all individuals
                            of a given population, an indicator capturing household/individual welfare to a threshold
                            representing a certain minimum level of welfare; those whose welfare indicator falls below the
                            minimum are aggregated into an overall poverty measure that separates them from the non-poor
                            population.
                        </p>
                        <p>
                            Deciding on the best approach to measure poverty is even more complicated when the
                            measurement exercise is implemented in rural populations. Most empirical approaches to poverty
                            measurement were primarily developed to measure poverty in urban settings, and they are not
                            necessarily useful or relevant for purposes of measuring poverty in rural areas. Conceptually, there
                            are clear differences among rural and urban livelihoods, and urban-based definitions of welfare do
                            not capture the diversity of rural lifestyles. As stated by Conconi et al. (2019):
                        </p>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="bg">
                        <div class="d-flex justify-content-end align-items-end pe-5 pb-2 border-0 bg-image">

                            <button class="bg-transparent border-0" href="#" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="Sahelian landscape during rainy season in Hapandou village, Zinder Region, Niger.  ©FAO/Luis Tato">
                                <img src="../images/info.svg" class="img-fluid border-0" alt="">
                            </button>

                        </div>
                    </div>
                </div>

                <div id="item-1-2" class="paragraph-section">
                    <div class="col-md-9 ms-auto mb-5 ">
                        <h3 class="title-chapter fs-3 text-primary text-uppercase">
                            <span>3.2 </span>  Current debates on targeting
                        </h3>
                        <p>
                            Traditionally, the measurement of welfare in applied economics has been rooted in concepts
                            such as income and consumption, and variants of these to indicate expressions in real terms
                            (rather than nominal terms) or per capita (Deaton, 1980). In other words, economic analysis
                            associates household and individual welfare with variables that denote the ability of households
                            and individuals to purchase goods and services considered essential for well-being, such as food,
                            clothing, housing, and so on.
                        </p>
                        <p>
                            Deciding on the best approach to measure poverty is even more complicated when the
                            measurement exercise is implemented in rural populations. Most empirical approaches to poverty
                            measurement were primarily developed to measure poverty in urban settings, and they are not
                            necessarily useful or relevant for purposes of measuring poverty in rural areas. Conceptually, there
                            are clear differences among rural and urban livelihoods, and urban-based definitions of welfare do
                            not capture the diversity of rural lifestyles. As stated by Conconi et al. (2019).
                        </p>
                        <p>
                            Poverty measurement is thought of as a special case of welfare measurement: the situation
                            of poverty of a household is determined by comparing its total income or consumption with a monetary threshold (“the poverty line”) representing the minimum amount needed to purchase
                            some goods and services that are considered essential for well-being. The main limitation of this
                            method of measuring welfare and poverty is obvious: not all aspects of welfare can be accounted
                            for through a monetary measure (e.g. safety or clean air). Although this fact implies that the
                            monetary measurement only provides a partial picture of overall well-being, it is still the dominant
                            approach for welfare measurement in economic analysis.
                        </p>
                        <p>
                            In the last few decades, other approaches to welfare (and poverty) measurement have been
                            developed and implemented. Amartya Sen’s capability approach is probably the most widely
                            recognized alternative to the monetary measurement of welfare. Sen (1992) argued that the
                            definition of well-being should be made in terms of the “functionings” and “capabilities” that
                            people enjoy. He defined functionings as the “beings and doings” that people value. Elementary
                            functionings are, for example, “being well nourished…avoiding premature mortality” while
                            more sophisticated functionings are “having self-respect, being able to take part in the life
                            of community”. Regarding “capabilities”, they are defined as “the various combinations of
                            functionings… that a person can achieve”. Instead of measuring welfare in terms of monetary
                            resources, as it is done in the traditional approach, Sen’s approach establishes that welfare should
                            be measured in terms of capabilities. Analogously, Sen argued that poverty should be thought
                            of as capability deprivation. This definition has a clear implication for poverty measurement: a
                            multidimensional approach is required, given that there are multiple functionings and capabilities.
                        </p>


                    </div>

                </div>

                <div class="col-md-12">
                    <div class="bg">
                        <div class="d-flex justify-content-end align-items-end pe-5 pb-2 border-0 bg-image">

                            <button class="bg-transparent border-0" href="#" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="Sahelian landscape during rainy season in Hapandou village, Zinder Region, Niger.  ©FAO/Luis Tato">
                                <img src="../images/info.svg" class="img-fluid border-0" alt="">
                            </button>

                        </div>
                    </div>
                </div>

                <div id="item-1-3" class="paragraph-section">

                    <div class="col-md-9 ms-auto mb-5">

                        <h3 class="title-chapter fs-3 text-primary text-uppercase">
                            <span>3.3 </span>Targeting mechanisms
                        </h3>
                        <p>
                            The monetary approach to poverty measurement has a long tradition in economics. It was the
                            method chosen by Booth (1887), Booth (1888) and Rowntree (1901) in the first scientific attempts to
                            measure poverty. Interestingly, the methodology employed by Rowntree6 more than a century ago,
                            which was partially inspired in Booth’s previous work, was essentially the same as the methodology
                            currently used to measure monetary poverty. To identify who were living in poverty, it involved
                            the comparison of total family earnings with a poverty line, defined as the monetary cost of
                            meeting certain nutritional dietary requirements for the maintenance of physical health and
                            acquiring a minimum of other non-food items. <strong>
                                The monetary approach still remains as the most
                                widespread method for poverty measurement in quantitative assessments of poverty.
                            </strong>
                        </p>
                        <p>
                            As in all poverty measurement exercises (see Section 1.2.2), measuring monetary poverty
                            requires solving the problems of identification and aggregation of the poor. In this case,
                            identification of the poor is made by comparing the monetary value of a proxy variable
                            representing the welfare level of the household, typically household income or consumption,
                            and a monetary poverty line representing the minimum level of welfare a household should meet
                            not to be identified as poor. In relation to the problem of aggregation, the most commonly used
                            monetary poverty indices are those belonging to the Foster-Greer-Thorbecke (FGT) family of
                            poverty measures. The rest of this section discusses in detail the several technical aspects involved
                            in identifying and aggregating the poor, in the context of the measurement of monetary poverty.
                        </p>

                    </div>
                </div>

                <div class="col-md-12">
                    <div class="bg">
                        <div class="d-flex justify-content-end align-items-end pe-5 pb-2 border-0 bg-image">

                            <button class="bg-transparent border-0" href="#" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="Sahelian landscape during rainy season in Hapandou village, Zinder Region, Niger.  ©FAO/Luis Tato">
                                <img src="../images/info.svg" class="img-fluid border-0" alt="">
                            </button>

                        </div>
                    </div>
                </div>

                <div id="item-1-4" class="paragraph-section">

                    <div class="col-md-9 ms-auto ">

                        <h3 class="title-chapter fs-3 text-primary text-uppercase">
                            <span>3.4 </span>The targeting process
                        </h3>
                        <p>
                            The monetary approach to poverty measurement has a long tradition in economics. It was the
                            method chosen by Booth (1887), Booth (1888) and Rowntree (1901) in the first scientific attempts to
                            measure poverty. Interestingly, the methodology employed by Rowntree6 more than a century ago,
                            which was partially inspired in Booth’s previous work, was essentially the same as the methodology
                            currently used to measure monetary poverty. To identify who were living in poverty, it involved
                            the comparison of total family earnings with a poverty line, defined as the monetary cost of
                            meeting certain nutritional dietary requirements for the maintenance of physical health and
                            acquiring a minimum of other non-food items. <strong>
                                The monetary approach still remains as the most
                                widespread method for poverty measurement in quantitative assessments of poverty.
                            </strong>
                        </p>
                        <p>
                            As in all poverty measurement exercises (see Section 1.2.2), measuring monetary poverty
                            requires solving the problems of identification and aggregation of the poor. In this case,
                            identification of the poor is made by comparing the monetary value of a proxy variable
                            representing the welfare level of the household, typically household income or consumption,
                            and a monetary poverty line representing the minimum level of welfare a household should meet
                            not to be identified as poor. In relation to the problem of aggregation, the most commonly used
                            monetary poverty indices are those belonging to the Foster-Greer-Thorbecke (FGT) family of
                            poverty measures. The rest of this section discusses in detail the several technical aspects involved
                            in identifying and aggregating the poor, in the context of the measurement of monetary poverty.
                        </p>

                    </div>
                </div>

                <%= require('html-loader!./back-to-top.html') %>
            </div>
        </div>
    </main>
    <%= require('html-loader!./footer.html') %>
    <div id="navigation" class="navigation sticky-bottom bg-navigationBg pt-1 pb-3 d-none d-lg-flex">
        <div class="container">
            <ul class="nav justify-content-between border-bottom">
                <% var chapter = 0; %>
                <%for (var i = 0; i < menu.length; i++) {%>
                <li>
                    <%if (menu[i].subMenu != undefined && menu[i].subMenu != null && menu[i].subMenu.length > 0) {%>

                    <%if (menu[i].isChapter) { chapter += 1; %>
                    <a class="nav-link" aria-current="page" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html">CHAPTER <%= chapter  %></a>

                    <div class="dropdown-menu mt-0 rounded-0 p-0" aria-labelledby="navbarDropdown">
                        <div class="card border-0 rounded-0 px-3 py-4 bg-transparent" style="max-width: 430px;">
                            <div class="row g-0">
                                <div class="col-md-4 pt-2">
                                    <div class="card-img rounded-0 d-flex flex-row-reverse align-items-end p-2"
                                         style="height: 130px;width: 130px; background: url('../images/<%= menu[i].img%>.jpg') no-repeat center;">
                                        <a class="text-dark text-decoration-none" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html"><span class="text-white display-1"><%= chapter  %></span></a>
                                    </div>
                                </div>
                                <div class="col-md-8 px-3">
                                    <a class="text-dark text-decoration-none" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html">
                                        <h5 class="card-title text-uppercase primary-color text-secondary text-uppercase p-1">
                                            <%= menu[i].title %>
                                        </h5>
                                    </a>
                                    <ul class="list-unstyled">
                                        <%for (var y = 0; y < menu[i].subMenu.length; y++) {%>
                                        <li class="card-text mb-1">
                                            <a target="_self" class="text-dark text-decoration-none" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html<%=menu[i].subMenu[y].subMenuLink%>">
                                                <%=menu[i].subMenu[y].subMenuTitle%>
                                            </a>
                                        </li>
                                        <%}%>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <%} else {%>
                    <a class="nav-link text-uppercase" aria-current="page" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html" title="<%= menu[i].title %>"> <%= menu[i].title %></a>
                    <div class="dropdown-menu w-100 mt-0 rounded-0" aria-labelledby="navbarDropdown">
                        <ul class="list-unstyled container d-flex px-4">
                            <%for (var y = 0; y < menu[i].subMenu.length; y++) {%>
                            <li>
                                <a target="_self" class="text-dark text-decoration-none px-3 text-uppercase" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html<%=menu[i].subMenu[y].subMenuLink%>">
                                    <%=menu[i].subMenu[y].subMenuTitle%>
                                </a>
                            </li>
                            <%}%>
                        </ul>
                    </div>
                    <%}%>

                    <%} else {%>
                    <%if (menu[i].isChapter) { chapter += 1; %>
                    <a class="nav-link text-uppercase" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html"> CHAPTER <%= chapter  %></a>
                    <%} else {%>
                    <a class="nav-link text-uppercase" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html"> <%= menu[i].title %></a>
                    <%}%>
                    <%}%>
                </li>
                <%}%>
            </ul>
        </div>
    </div>
    <%= require('html-loader!./script.html') %>
</body>
</html>