<!doctype html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% for(var x=0; x < totLang.length; x++) {%>
    <% if(totLang[x].lang === htmlWebpackPlugin.options.lang) { %>
    <link rel="canonical" href="https://www.fao.org/3/<%= totLang[x].code %>/online/<%= totLang[x].code %>.html">
    <% } else { %>
    <link rel="alternate" hreflang="<%= totLang[x].lang %>" href="https://www.fao.org/3/<%= totLang[x].code %>/online/<%= totLang[x].code %>.html">
    <% } %>
    <% } %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="shortcut icon" href="../images/favicon.ico">
</head>
<body>
    <!--header-->
    <header class="navbar  navbar-expand-lg navbar-dark fixed-top bg-primary">
        <div class="container gap-4">

            <a class="navbar-brand" href="https://www.fao.org" target="_blank"
               title="FAO - Food and Agriculture Organization">
                <img src="../images/logo-white.svg" alt="FAO">
            </a>

            <button class="navbar-toggler third-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <div class="menu-icon"><span class="w-50"></span><span></span><span class="w-75"></span></div>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="my-4 d-lg-none d-xl-none">
                    <ul class="list-unstyled px-2">
                        <li class="border-bottom">
                            <a class="text-white text-decoration-none text-uppercase py-2 fs-6" href="../<%= htmlWebpackPlugin.options.jobNumber %>.html" title="Homepage">
                                <span>Home</span>
                            </a>
                        </li>
                        <%for (var i = 0; i < menu.length; i++) {%>
                        <li class="border-bottom">
                            <%if (menu[i].subMenu != undefined && menu[i].subMenu != null && menu[i].subMenu.length > 0) {%>
                            <a class="text-white text-decoration-none text-uppercase py-2 fs-6" type="button" data-bs-toggle="collapse"
                               data-bs-target="#panelsStayOpen-collapse<%= i  %>" aria-expanded="true"
                               aria-controls="panelsStayOpen-collapse<%= i  %>">
                                <%= menu[i].chapterNumber %> <%= menu[i].title %>
                            </a>
                            <div id="panelsStayOpen-collapse<%= i  %>" class="sub-menu px-3 py-1 collapse"
                                 aria-labelledby="panelsStayOpen-heading">
                                <ul class="list-unstyled">
                                    <%for (var y = 0; y < menu[i].subMenu.length; y++) {%>
                                    <li class="py-1"><a target="_self" class="text-white text-decoration-none text-uppercase fs-6 close-navbar" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html<%=menu[i].subMenu[y].subMenuLink%>" title="<%=menu[i].subMenu[y].subMenuTitle%>"><%=menu[i].subMenu[y].subMenuTitle%></a></li>
                                    <%}%>
                                </ul>
                            </div>
                            <%} else {%>
                            <a href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html" title="Homepage" class="text-white text-decoration-none text-uppercase fs-6 py-2">
                                <%= menu[i].chapterNumber %> <%= menu[i].title %>
                            </a>
                            <%}%>
                        </li>
                        <%}%>
                        <li class="py-2 mt-5 pt-5  d-flex justify-content-between">

                            <a href="http://www.juiceofmind.com/templates/a4-generic-publication/01_A4_one_column_template.pdf" target="_blank" class="btn border text-white rounded-0  download-pdf">DOWNLOAD PDF</a>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="search-form d-flex align-items-center gap-2" role="search">
                <a class="nav-link text-uppercase d-md-none d-lg-none d-xl-none" aria-current="page" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false" href="#" title="#">
                    <span class="material-symbols-outlined text-white">
                        search
                    </span>
                </a>
                <div id="searchMobile" class=" w-100 mt-0 rounded-0 bg-primary " aria-labelledby="navbarDropdown">
                    <div class="conatiner d-flex align-items-center gap-2 p-2" role="search">
                        <form id="searchMain" class="search-form d-flex align-items-center gap-2" role="search">
                            <label class="text-white">SEARCH</label>
                            <input id="searchTextMain" class="form-control me-2 bg-transparent border-0 border-bottom rounded-0 p-0 text-white" type="search"
                                   aria-label="Search">
                            <button class="btn btn-outline-success button-search" type="submit" data-bs-toggle="modal" data-bs-target="#extModal"></button>
                        </form>

                        <span id="searchResult" class="me-2 bg-transparent border-0 rounded-0 p-0 text-white">0/0</span>
                        <nav aria-label="Page navigation">
                            <ul class="pagination mb-1">
                                <li id="prev" class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Previous" onclick="javascript:prev();">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li id="next" class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Next" onclick="javascript:next();">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <a class="btn btn-transparent dropdown-toggle text-white border-0" href="#" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    ENGLISH
                </a>
                <ul class="dropdown-menu ">
                    <li><a class="dropdown-item" href="#">العربية</a></li>
                    <li><a class="dropdown-item" href="#">中文 </a></li>
                    <li><a class="dropdown-item" href="#">Español </a></li>
                    <li><a class="dropdown-item" href="#">Français  </a></li>
                    <li><a class="dropdown-item" href="#">Русский </a></li>
                </ul>
            </div>

            <a href="http://www.juiceofmind.com/templates/a4-generic-publication/01_A4_one_column_template.pdf" target="_blank" class="btn border text-white rounded-0 d-none d-lg-flex download-pdf">DOWNLOAD PDF</a>
        </div>
    </header>
    <main>
        <div class="search-main container mt-5">
            <div class="row">

                <div class="col-md-12 ms-auto mb-4 paragraph-section" id="item-1-1">
                    <div class="row">
                        <div class="col-md-9 ms-auto">
                            <h3 class="title-chapter-alternative display-4 text-primary">FOREWORD</h3>
                        </div>
                    </div>

                </div>

                <!--Sidebar menu -->
                <div id="sidebar-container" class="col-md-3 position-sticky d-none d-lg-block">
                    <div class="title-sidebar w-75 text-dark-light border px-4 py-3 mb-4">
                        <a href="../<%= htmlWebpackPlugin.options.jobNumber %>.html" title="Homepage" class="link-unstyled"><h2 class="fs-2 w-50"><%= pubTitle %></h2></a>
                    </div>
                    <div id="top-menu" class="nav nav-pills flex-column">

                        <div class="sidebar-line my-2"></div>
                        <a class="nav-link ps-0 text-dark" href="#item-1-1">FOREWORD</a>
                        <a class="nav-link ps-0 text-dark" href="#item-1-2">PREFACE</a>
                        <a class="nav-link ps-0 text-dark" href="#item-1-3">ACKNOWLEDGEMENTS</a>
                        <a class="nav-link ps-0 text-dark" href="#item-1-4">ABBREVIATIONS AND ACRONYMS</a>
                        <a class="nav-link ps-0 text-dark" href="#item-1-5">EXECUTIVE SUMMARY</a>
                    </div>
                </div>

                <div class="col-md-9 ms-auto mb-5">
                    <p>
                        Ficta pe nesenim invelic ipissinctur repeleni si sus, soluptatus el ipiet aut inullitatur asim volest
                        qui vendaer chicipsus, sed molori dolum que velendusa consed unt vero quae corecest, oditistibus
                        ius volorpo rempore ipsum sitatem. Facepeles eos sunduci rerest endempe rempedis vel idendi
                        aruptaspel in et iur? Qui se volorem porrorati reicten imagnim invera enda pos et imosa nis
                        minverias ra doluptatessi quamAquam ides nem fugit alit utatur as aniatur? Ite dolor sae de solo
                        essequi restota spicidit aut autae. Pa apel invel ipienisint aliquis escit ipsum quis venet aut aut ut
                        esequam et etur, cuptas doloruntis corrum a cuptibus, soloresequia cus cus.
                    </p>
                    <p>
                        Soloreh endeseditiis inihil magnate mporio. Hendis ea niassin re optatur, cum aliquiae
                        nisciet utas doluptintem vercit, aut accus dus elibus aut alit endereicia nonestrum aut haribus
                        et eneculparum ni cum comnist aceperes voluptatem laborias doluptatius doluptatus dolum,
                        ad qui alitio delique voluptibusda accum quos magnit qui cus que poresectati optates autaspe
                        ribusandusam eos molorum venihitatur, volupta cus minis reptae de et que lamus autem qui
                        delesti demporrovid es imint ut quodipsum volumque et accae plignihilit harum quatem ex et,
                        ipsandero totatatiam eostis acerera coreptaquat liquam ipidis dictat ommoluptate re re essinve
                        llacere pudio. Quod ma dolenitas vendi cus dendaeri rest ligenditae nonem et volector aspisto
                        ent, solupti omnihil laboreserum ab ipsam, odissun tibusant harum ratur mos nisquid molupta dit,
                        exero mos ant.
                    </p>
                    <p>
                        Caepe modi coriam estotatius nonestrum quam evelenda nimporum fugitem quos pre molorec
                        torectur, quiditiatis ea vendae. Nam faceprate molor si tem sit undunt, si atur aperumquam qui as
                        doloria nimaio. Quid quiduci pientus parchit iaspici tatur, aspelest, totam voluptatis ut andemperat
                        ommoluptum auda volore destem volupta temque nest la conempo reribus quo et quide voluptis
                        consedigent eveliquam, volupta tempores enita nusam qui cus aspidebistis asped ma voluptatio
                        te re, ut reperore culpario berehen debisci ataturi onsequi blat officipsunt, comnis acium in
                        raepernam, idest plita dolor reritae. Iciisquid moluptat quo volorro et, sent
                    </p>
                </div>

                <div class="col-md-12">
                    <div class="bg">
                        <div class="d-flex justify-content-end align-items-end pe-5 pb-2 border-0">

                            <button class="bg-transparent border-0" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="Sahelian landscape during rainy season in Hapandou village, Zinder Region, Niger. ©FAO/Luis Tato">
                                <img src="../images/info.svg" class="img-fluid border-0" alt="">
                            </button>

                        </div>
                    </div>
                </div>

                <div class="col-md-9 ms-auto mb-5 pb-5 paragraph-section" id="item-1-2">
                    <h3 class="title-chapter-alternative display-4 text-primary pb-4 pt-5">
                        PREFACE
                    </h3>
                    <p>
                        Ficta pe nesenim invelic ipissinctur repeleni si sus, soluptatus el ipiet aut inullitatur asim volest
                        qui vendaer chicipsus, sed molori dolum que velendusa consed unt vero quae corecest, oditistibus
                        ius volorpo rempore ipsum sitatem. Facepeles eos sunduci rerest endempe rempedis vel idendi
                        aruptaspel in et iur? Qui se volorem porrorati reicten imagnim invera enda pos et imosa nis
                        minverias ra doluptatessi quamAquam ides nem fugit alit utatur as aniatur? Ite dolor sae de solo
                        essequi restota spicidit aut autae. Pa apel invel ipienisint aliquis escit ipsum quis venet aut aut ut
                        esequam et etur, cuptas doloruntis corrum a cuptibus, soloresequia cus cus.
                    </p>
                    <p>
                        Soloreh endeseditiis inihil magnate mporio. Hendis ea niassin re optatur, cum aliquiae
                        nisciet utas doluptintem vercit, aut accus dus elibus aut alit endereicia nonestrum aut haribus
                        et eneculparum ni cum comnist aceperes voluptatem laborias doluptatius doluptatus dolum,
                        ad qui alitio delique voluptibusda accum quos magnit qui cus que poresectati optates autaspe
                        ribusandusam eos molorum venihitatur, volupta cus minis reptae de et que lamus autem qui
                        delesti demporrovid es imint ut quodipsum volumque et accae plignihilit harum quatem ex et,
                        ipsandero totatatiam eostis acerera coreptaquat liquam ipidis dictat ommoluptate re re essinve
                        llacere pudio. Quod ma dolenitas vendi cus dendaeri rest ligenditae nonem et volector aspisto
                        ent, solupti omnihil laboreserum ab ipsam, odissun tibusant harum ratur mos nisquid molupta dit,
                        exero mos ant.
                        <br />
                    </p>
                </div>

                <div class="col-md-12">
                    <div class="bg">
                        <div class="d-flex justify-content-end align-items-end pe-5 pb-2 border-0">

                            <button class="bg-transparent border-0" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="Sahelian landscape during rainy season in Hapandou village, Zinder Region, Niger. ©FAO/Luis Tato">
                                <img src="../images/info.svg" class="img-fluid border-0" alt="">
                            </button>

                        </div>
                    </div>
                </div>

                <div class="col-md-9 ms-auto mb-5 pb-5 paragraph-section" id="item-1-3">
                    <h3 class="title-chapter-alternative display-4 text-primary pb-4 pt-5">ACKNOWLEDGEMENTS</h3>
                    <p>
                        Ficta pe nesenim invelic ipissinctur repeleni si sus, soluptatus el ipiet aut inullitatur asim volest
                        qui vendaer chicipsus, sed molori dolum que velendusa consed unt vero quae corecest, oditistibus
                        ius volorpo rempore ipsum sitatem. Facepeles eos sunduci rerest endempe rempedis vel idendi
                        aruptaspel in et iur? Qui se volorem porrorati reicten imagnim invera enda pos et imosa nis
                        minverias ra doluptatessi quamAquam ides nem fugit alit utatur as aniatur? Ite dolor sae de solo
                        essequi restota spicidit aut autae. Pa apel invel ipienisint aliquis escit ipsum quis venet aut aut ut
                        esequam et etur, cuptas doloruntis corrum a cuptibus, soloresequia cus cus.
                    </p>
                    <p>
                        Soloreh endeseditiis inihil magnate mporio. Hendis ea niassin re optatur, cum aliquiae
                        nisciet utas doluptintem vercit, aut accus dus elibus aut alit endereicia nonestrum aut haribus
                        et eneculparum ni cum comnist aceperes voluptatem laborias doluptatius doluptatus dolum,
                        ad qui alitio delique voluptibusda accum quos magnit qui cus que poresectati optates autaspe
                        ribusandusam eos molorum venihitatur, volupta cus minis reptae de et que lamus autem qui
                        delesti demporrovid es imint ut quodipsum volumque et accae plignihilit harum quatem ex et,
                        ipsandero totatatiam eostis acerera coreptaquat liquam ipidis dictat ommoluptate re re essinve
                        llacere pudio. Quod ma dolenitas vendi cus dendaeri rest ligenditae nonem et volector aspisto
                        ent, solupti omnihil laboreserum ab ipsam, odissun tibusant harum ratur mos nisquid molupta dit,
                        exero mos ant.
                    </p>
                </div>

                <div class="col-md-12">
                    <div class="bg">
                        <div class="d-flex justify-content-end align-items-end pe-5 pb-2 border-0">

                            <button class="bg-transparent border-0" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="Sahelian landscape during rainy season in Hapandou village, Zinder Region, Niger. ©FAO/Luis Tato">
                                <img src="../images/info.svg" class="img-fluid border-0" alt="">
                            </button>

                        </div>
                    </div>
                </div>

                <div class="col-md-9 ms-auto mb-5 pb-5 paragraph-section" id="item-1-4">
                    <h3 class="title-chapter-alternative display-4 text-primary pb-4 pt-5">
                        ABBREVIATIONS AND ACRONYMS
                    </h3>
                    <p>
                        <strong>CBN</strong> cost of basic needs
                    </p>
                    <p>
                        <strong>FAO</strong> Food and Agriculture Organization of the United Nations
                    </p>
                    <p>
                        <strong>NGOs</strong> Non-governmental organizations
                    </p>
                    <p>
                        <strong>XXX</strong> Ficta pe nesenim invelic ipissinctur repeleni si sus, soluptatus el ipiet aut inullitatur
                        asim volest
                    </p>
                    <p>
                        <strong>XXX</strong> Ficta pe nesenim invelic ipissinctur repeleni si sus, soluptatus el ipiet aut inullitatur
                        asim volest
                    </p>
                    <p>
                        <strong>XXX</strong> Ficta pe nesenim invelic ipissinctur repeleni si sus, soluptatus el ipiet aut inullitatur
                        asim volest
                    </p>
                    <p>
                        <strong>XXX</strong> Ficta pe nesenim invelic ipissinctur repeleni si sus, soluptatus el ipiet aut inullitatur
                        asim volest
                    </p>
                    <p>
                        <strong>XXX</strong> Ficta pe nesenim invelic ipissinctur repeleni si sus, soluptatus el ipiet aut inullitatur
                        asim volest
                    </p>
                    <p>
                        <strong>XXX</strong> Ficta pe nesenim invelic ipissinctur repeleni si sus, soluptatus el ipiet aut inullitatur
                        asim volest
                    </p>
                    <p>
                        <strong>XXX</strong> Ficta pe nesenim invelic ipissinctur repeleni si sus, soluptatus el ipiet aut inullitatur
                        asim volest
                    </p>
                </div>

                <div class="col-md-12">
                    <div class="bg">
                        <div class="d-flex justify-content-end align-items-end pe-5 pb-2 border-0">

                            <button class="bg-transparent border-0" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="Sahelian landscape during rainy season in Hapandou village, Zinder Region, Niger. ©FAO/Luis Tato">
                                <img src="../images/info.svg" class="img-fluid border-0" alt="">
                            </button>

                        </div>
                    </div>
                </div>

                <div class="col-md-9 ms-auto mb-5 pb-5 paragraph-section" id="item-1-5">
                    <h3 class="title-chapter-alternative display-4 text-primary pb-4 pt-5">
                        EXECUTIVE SUMMARY
                    </h3>
                    <p>
                        Ficta pe nesenim invelic ipissinctur repeleni si sus, soluptatus el ipiet aut inullitatur asim volest
                        qui vendaer chicipsus, sed molori dolum que velendusa consed unt vero quae corecest, oditistibus
                        ius volorpo rempore ipsum sitatem. Facepeles eos sunduci rerest endempe rempedis vel idendi
                        aruptaspel in et iur? Qui se volorem porrorati reicten imagnim invera enda pos et imosa nis
                        minverias ra doluptatessi quamAquam ides nem fugit alit utatur as aniatur? Ite dolor sae de solo
                        essequi restota spicidit aut autae. Pa apel invel ipienisint aliquis escit ipsum quis venet aut aut ut
                        esequam et etur, cuptas doloruntis corrum a cuptibus, soloresequia cus cus.
                    </p>
                    <p>
                        Soloreh endeseditiis inihil magnate mporio. Hendis ea niassin re optatur, cum aliquiae
                        nisciet utas doluptintem vercit, aut accus dus elibus aut alit endereicia nonestrum aut haribus
                        et eneculparum ni cum comnist aceperes voluptatem laborias doluptatius doluptatus dolum,
                        ad qui alitio delique voluptibusda accum quos magnit qui cus que poresectati optates autaspe
                        ribusandusam eos molorum venihitatur, volupta cus minis reptae de et que lamus autem qui
                        delesti demporrovid es imint ut quodipsum volumque et accae plignihilit harum quatem ex et,
                        ipsandero totatatiam eostis acerera coreptaquat liquam ipidis dictat ommoluptate re re essinve
                        llacere pudio. Quod ma dolenitas vendi cus dendaeri rest ligenditae nonem et volector aspisto
                        ent, solupti omnihil laboreserum ab ipsam, odissun tibusant harum ratur mos nisquid molupta dit,
                        exero mos ant.
                    </p>
                    <p>
                        Soloreh endeseditiis inihil magnate mporio. Hendis ea niassin re optatur, cum aliquiae
                        nisciet utas doluptintem vercit, aut accus dus elibus aut alit endereicia nonestrum aut haribus
                        et eneculparum ni cum comnist aceperes voluptatem laborias doluptatius doluptatus dolum,
                        ad qui alitio delique voluptibusda accum quos magnit qui cus que poresectati optates autaspe
                        ribusandusam eos molorum venihitatur, volupta cus minis reptae de et que lamus autem qui
                        delesti demporrovid es imint ut quodipsum volumque et accae plignihilit harum quatem ex et,
                        ipsandero totatatiam eostis acerera coreptaquat liquam ipidis dictat ommoluptate re re essinve
                        llacere pudio. Quod ma dolenitas vendi cus dendaeri rest ligenditae nonem et volector aspisto
                        ent, solupti omnihil laboreserum ab ipsam, odissun tibusant harum ratur mos nisquid molupta dit,
                        exero mos ant.
                    </p>
                    <p>
                        Soloreh endeseditiis inihil magnate mporio. Hendis ea niassin re optatur, cum aliquiae
                        nisciet utas doluptintem vercit, aut accus dus elibus aut alit endereicia nonestrum aut haribus
                        et eneculparum ni cum comnist aceperes voluptatem laborias doluptatius doluptatus dolum,
                        ad qui alitio delique voluptibusda accum quos magnit qui cus que poresectati optates autaspe
                        ribusandusam eos molorum venihitatur, volupta cus minis reptae de et que lamus autem qui
                        delesti demporrovid es imint ut quodipsum volumque et accae plignihilit harum quatem ex et,
                        ipsandero totatatiam eostis acerera coreptaquat liquam ipidis dictat ommoluptate re re essinve
                        llacere pudio. Quod ma dolenitas vendi cus dendaeri rest ligenditae nonem et volector aspisto
                        ent, solupti omnihil laboreserum ab ipsam, odissun tibusant harum ratur mos nisquid molupta dit,
                        exero mos ant.
                    </p>
                    <p>
                        Soloreh endeseditiis inihil magnate mporio. Hendis ea niassin re optatur, cum aliquiae
                        nisciet utas doluptintem vercit, aut accus dus elibus aut alit endereicia nonestrum aut haribus
                        et eneculparum ni cum comnist aceperes voluptatem laborias doluptatius doluptatus dolum,
                        ad qui alitio delique voluptibusda accum quos magnit qui cus que poresectati optates autaspe
                        ribusandusam eos molorum venihitatur, volupta cus minis reptae de et que lamus autem qui
                        delesti demporrovid es imint ut quodipsum volumque et accae plignihilit harum quatem ex et,
                        ipsandero totatatiam eostis acerera coreptaquat liquam ipidis dictat ommoluptate re re essinve
                        llacere pudio. Quod ma dolenitas vendi cus dendaeri rest ligenditae nonem et volector aspisto
                        ent, solupti omnihil laboreserum ab ipsam, odissun tibusant harum ratur mos nisquid molupta dit,
                        exero mos ant.
                    </p>
                    <p>
                        Soloreh endeseditiis inihil magnate mporio. Hendis ea niassin re optatur, cum aliquiae
                        nisciet utas doluptintem vercit, aut accus dus elibus aut alit endereicia nonestrum aut haribus
                        et eneculparum ni cum comnist aceperes voluptatem laborias doluptatius doluptatus dolum,
                        ad qui alitio delique voluptibusda accum quos magnit qui cus que poresectati optates autaspe
                        ribusandusam eos molorum venihitatur, volupta cus minis reptae de et que lamus autem qui
                        delesti demporrovid es imint ut quodipsum volumque et accae plignihilit harum quatem ex et,
                        ipsandero totatatiam eostis acerera coreptaquat liquam ipidis dictat ommoluptate re re essinve
                        llacere pudio. Quod ma dolenitas vendi cus dendaeri rest ligenditae nonem et volector aspisto
                        ent, solupti omnihil laboreserum ab ipsam, odissun tibusant harum ratur mos nisquid molupta dit,
                        exero mos ant.
                    </p>
                </div>


                <%= require('html-loader!./back-to-top.html') %>

            </div>
        </div>
    </main>
    <%= require('html-loader!./footer.html') %>
    <div id="navigation" class="navigation sticky-bottom bg-navigationBg pt-1 pb-3 d-none d-lg-flex">
        <div class="container">
            <ul class="nav justify-content-between border-bottom">
                <% var chapter = 0; %>
                <%for (var i = 0; i < menu.length; i++) {%>
                <li>
                    <%if (menu[i].subMenu != undefined && menu[i].subMenu != null && menu[i].subMenu.length > 0) {%>

                    <%if (menu[i].isChapter) { chapter += 1; %>
                    <a class="nav-link" aria-current="page" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html">CHAPTER <%= chapter  %></a>

                    <div class="dropdown-menu mt-0 rounded-0 p-0" aria-labelledby="navbarDropdown">
                        <div class="card border-0 rounded-0 px-3 py-4 bg-transparent" style="max-width: 430px;">
                            <div class="row g-0">
                                <div class="col-md-4 pt-2">
                                    <div class="card-img rounded-0 d-flex flex-row-reverse align-items-end p-2"
                                         style="height: 130px;width: 130px;">
                                        <a class="text-dark text-decoration-none" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html"><span class="text-white display-1"><%= chapter  %></span></a>
                                    </div>
                                </div>
                                <div class="col-md-8 px-3">
                                    <a class="text-dark text-decoration-none" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html">
                                        <h5 class="card-title text-uppercase primary-color text-secondary text-uppercase p-1">
                                            <%= menu[i].title %>
                                        </h5>
                                    </a>
                                    <ul class="list-unstyled">
                                        <%for (var y = 0; y < menu[i].subMenu.length; y++) {%>
                                        <li class="card-text mb-1">
                                            <a target="_self" class="text-dark text-decoration-none" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html<%=menu[i].subMenu[y].subMenuLink%>">
                                                <%=menu[i].subMenu[y].subMenuTitle%>
                                            </a>
                                        </li>
                                        <%}%>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <%} else {%>
                    <a class="nav-link text-uppercase" aria-current="page" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html" title="<%= menu[i].title %>"> <%= menu[i].title %></a>
                    <div class="dropdown-menu w-100 mt-0 rounded-0" aria-labelledby="navbarDropdown">
                        <ul class="list-unstyled container d-flex px-4">
                            <%for (var y = 0; y < menu[i].subMenu.length; y++) {%>
                            <li>
                                <a target="_self" class="text-dark text-decoration-none px-3 text-uppercase" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html<%=menu[i].subMenu[y].subMenuLink%>">
                                    <%=menu[i].subMenu[y].subMenuTitle%>
                                </a>
                            </li>
                            <%}%>
                        </ul>
                    </div>
                    <%}%>

                    <%} else {%>
                    <%if (menu[i].isChapter) { chapter += 1; %>
                    <a class="nav-link text-uppercase" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html"> CHAPTER <%= chapter  %></a>
                    <%} else {%>
                    <a class="nav-link text-uppercase" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html"> <%= menu[i].title %></a>
                    <%}%>
                    <%}%>
                </li>
                <%}%>
            </ul>
        </div>
    </div>

    <%= require('html-loader!./script.html') %>
</body>
</html>