<!doctype html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% for(var x=0; x < totLang.length; x++) {%>
    <% if(totLang[x].lang === htmlWebpackPlugin.options.lang) { %>
    <link rel="canonical" href="https://www.fao.org/3/<%= totLang[x].code %>/online/<%= totLang[x].code %>.html">
    <% } else { %>
    <link rel="alternate" hreflang="<%= totLang[x].lang %>" href="https://www.fao.org/3/<%= totLang[x].code %>/online/<%= totLang[x].code %>.html">
    <% } %>
    <% } %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="shortcut icon" href="../images/favicon.ico">
</head>
<body>
    <!--header-->
    <header class="navbar  navbar-expand-lg navbar-dark fixed-top bg-primary">
        <div class="container gap-4">

            <a class="navbar-brand" href="https://www.fao.org" target="_blank"
               title="FAO - Food and Agriculture Organization">
                <img src="../images/logo-white.svg" alt="FAO">
            </a>

            <button class="navbar-toggler third-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <div class="menu-icon"><span class="w-50"></span><span></span><span class="w-75"></span></div>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="my-4 d-lg-none d-xl-none">
                    <ul class="list-unstyled px-2">
                        <li class="border-bottom">
                            <a class="text-white text-decoration-none text-uppercase py-2 fs-6" href="../<%= htmlWebpackPlugin.options.jobNumber %>.html" title="Homepage">
                                <span>Home</span>
                            </a>
                        </li>
                        <%for (var i = 0; i < menu.length; i++) {%>
                        <li class="border-bottom">
                            <%if (menu[i].subMenu != undefined && menu[i].subMenu != null && menu[i].subMenu.length > 0) {%>
                            <a class="text-white text-decoration-none text-uppercase py-2 fs-6" type="button" data-bs-toggle="collapse"
                               data-bs-target="#panelsStayOpen-collapse<%= i  %>" aria-expanded="true"
                               aria-controls="panelsStayOpen-collapse<%= i  %>">
                                <%= menu[i].chapterNumber %> <%= menu[i].title %>
                            </a>
                            <div id="panelsStayOpen-collapse<%= i  %>" class="sub-menu px-3 py-1 collapse"
                                 aria-labelledby="panelsStayOpen-heading">
                                <ul class="list-unstyled">
                                    <%for (var y = 0; y < menu[i].subMenu.length; y++) {%>
                                    <li class="py-1"><a target="_self" class="text-white text-decoration-none text-uppercase fs-6 close-navbar" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html<%=menu[i].subMenu[y].subMenuLink%>" title="<%=menu[i].subMenu[y].subMenuTitle%>"><%=menu[i].subMenu[y].subMenuTitle%></a></li>
                                    <%}%>
                                </ul>
                            </div>
                            <%} else {%>
                            <a href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html" title="Homepage" class="text-white text-decoration-none text-uppercase fs-6 py-2">
                                <%= menu[i].chapterNumber %> <%= menu[i].title %>
                            </a>
                            <%}%>
                        </li>
                        <%}%>
                        <li class="py-2 mt-5 pt-5  d-flex justify-content-between">

                            <a href="http://www.juiceofmind.com/templates/a4-generic-publication/01_A4_one_column_template.pdf" target="_blank" class="btn border text-white rounded-0  download-pdf">DOWNLOAD PDF</a>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="search-form d-flex align-items-center gap-2" role="search">
                <a class="nav-link text-uppercase d-md-none d-lg-none d-xl-none" aria-current="page" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false" href="#" title="#">
                    <span class="material-symbols-outlined text-white">
                        search
                    </span>
                </a>
                <div id="searchMobile" class=" w-100 mt-0 rounded-0 bg-primary " aria-labelledby="navbarDropdown">
                    <div class="conatiner d-flex align-items-center gap-2 p-2" role="search">
                        <form id="searchMain" class="search-form d-flex align-items-center gap-2" role="search">
                            <label class="text-white">SEARCH</label>
                            <input id="searchTextMain" class="form-control me-2 bg-transparent border-0 border-bottom rounded-0 p-0 text-white" type="search"
                                   aria-label="Search">
                            <button class="btn btn-outline-success button-search" type="submit" data-bs-toggle="modal" data-bs-target="#extModal"></button>
                        </form>

                        <span id="searchResult" class="me-2 bg-transparent border-0 rounded-0 p-0 text-white">0/0</span>
                        <nav aria-label="Page navigation">
                            <ul class="pagination mb-1">
                                <li id="prev" class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Previous" onclick="javascript:prev();">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li id="next" class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Next" onclick="javascript:next();">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <a class="btn btn-transparent dropdown-toggle text-white border-0" href="#" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    ENGLISH
                </a>
                <ul class="dropdown-menu ">
                    <li><a class="dropdown-item" href="#">العربية</a></li>
                    <li><a class="dropdown-item" href="#">中文 </a></li>
                    <li><a class="dropdown-item" href="#">Español </a></li>
                    <li><a class="dropdown-item" href="#">Français  </a></li>
                    <li><a class="dropdown-item" href="#">Русский </a></li>
                </ul>
            </div>

            <a href="http://www.juiceofmind.com/templates/a4-generic-publication/01_A4_one_column_template.pdf" target="_blank" class="btn border text-white rounded-0 d-none d-lg-flex download-pdf">DOWNLOAD PDF</a>
        </div>
    </header>
    <main>
        <div class="search-main container pt-5 mt-5">
            <div class="row">
                <div class="col-md-12 ms-auto mb-4">
                    <div class="row">
                        <div class="col-md-9 ms-auto">
                            <h3 class="title-chapter-alternative display-4 text-primary"><%= htmlWebpackPlugin.options.title %></h3>
                        </div>
                    </div>
                </div>

                <!--Sidebar menu -->
                <div id="sidebar-container" class="col-md-3 position-sticky d-none d-lg-block">
                    <div class="title-sidebar w-75 text-dark-light border px-4 py-3 mb-4">
                        <a href="../<%= htmlWebpackPlugin.options.jobNumber %>.html" title="Homepage" class="link-unstyled"><h2 class="fs-2 w-50"><%= pubTitle %></h2></a>
                    </div>
                    <div id="top-menu" class="nav nav-pills flex-column">
                        <h2 class="fs-5 text-primary w-75 h1-chapter">
                            <%= htmlWebpackPlugin.options.title %>
                        </h2>
                        <div class="sidebar-line my-2"></div>

                    </div>
                </div>

                <div class="col-md-9 ms-auto mb-5">
                    <p>
                        <strong>Adato, M.</strong>2000. The impact of PROGRESA on community social relationships. Washington, DC, IFPRI (International
                        Food Policy Research Institute).
                    </p>
                    <p>
                        <strong>(ADB) Asian Development Bank.</strong>2020. Mapping poverty through data integration and artificial intelligence.
                        A Special Supplement of the Key Indicators for Asia and the Pacific 2020. Manila, ADB
                    </p>
                    <p>
                        <strong>Alatas, V., Banerjee, A., Hanna, R., Olken, B.A. & Wai-poi, M.</strong>2012. Targeting the poor: Evidence from a field
                        experiment in Indonesia. American Economic Review, 102(4): 1206–1240
                    </p>
                    <p>
                        <strong>Alderman, H.</strong>2002. Do local officials know something we don’t? Decentralization of targeted transfers in Albania.
                        Journal of Public Economics, 83(3): 375–404.
                    </p>
                    <p>
                        <strong>Alik-Lagrange, A. & Ravallion, M.</strong> 2018. Workfare versus transfers in Rural India. World Development, 112: 244–258.
                    </p>
                    <p>
                        <strong>Alkire, S. & Foster, J.</strong> 2011. Counting and multidimensional poverty measurement. Journal of Public Economics,
                        95(7–8): 476–487.
                    </p>
                    <p>
                        <strong>Alkire, S., Foster, J.E., Seth, S., Santos, M.E., Roche, J.M. & Ballon, P.</strong> 2015. Multidimensional poverty measurement
                        and analysis. Oxford, UK, Oxford University Press.
                    </p>
                    <p>
                        <strong>Alkire, S. & Robles Aguilar, G.</strong> 2015. Poverty maps. OPHI Briefing 37. Oxford, UK, University of Oxford.
                    </p>
                    <p>
                        <strong>Alkire, S. & Santos, M. E.</strong> 2014. Measuring acute poverty in the developing world: Robustness and scope of the
                        Multidimensional Poverty Index. World Development, 59: 251–274.
                    </p>
                    <p>
                        <strong>Amarasinghe, U., Samad, M. & Anputhas, M.</strong> 2005. Spatial clustering of rural poverty and food insecurity in
                        Sri Lanka. Food Policy, 30(5–6): 493-509.
                    </p>
                    <p>
                        <strong>Anjoy, P., Chandra, H. & Basak, P.</strong> 2019. Estimation of disaggregate-level poverty incidence in Odisha under
                        Area-Level Hierarchical Bayes Small Area Model. Social Indicators Research, 144: 251–273.
                    </p>
                    <p>
                        <strong>Ansoms, A. & McKay, A.</strong>  2010. A quantitative analysis of poverty and livelihood profiles: The case of rural Rwanda.
                        Food Policy, 35(6): 584–598.
                    </p>
                    <p>
                        <strong>Asfaw, S., Cattaneo, A., Pallante, G. & Palma, A.</strong>  2017. Impacts of modifying Malawi’s farm input subsidy programme
                        targeting. FAO Agricultural Development Economics Working Paper 17-05. Rome, FAO.
                    </p>
                    <p>
                        <strong>Atkinson, A.B. & Marlier, E.</strong>2010. Analysing and measuring social inclusion in a global context. New York, USA,
                        United Nations Department of Economic and Social Affairs.
                    </p>
                    <p>
                        <strong>Atkinson, A.B.</strong>1987. On the Measurement of Poverty. Econometrica, 55(4): 749-764.
                    </p>
                    <p>
                        <strong>Ayush, K., Uzkent, B., Burke, M., Lobell, D. & Ermon, S.</strong> 2020. Generating interpretable poverty maps using object
                        detection in satellite images. Proceedings of the Twenty-Ninth International Joint Conference on Artificial
                        Intelligence. 11-17 July, 2020. Yokohama, Japan.
                    </p>
                    <p>
                        <strong>Azevedo, J.P.</strong> 2018. Small Area Estimation of Poverty in the EU: Lessons Learned. Presentation at the Workshop on
                        Small Area Methods and living conditions indicators in European poverty studies in the era of data deluge and
                        Big data. Pisa, Italy.
                    </p>
                    <p>
                        <strong>Azevedo, V. & Robles, M.</strong>  2013. Multidimensional Targeting: Identifying Beneficiaries of Conditional Cash Transfer
                        Programs. Social Indicators Research, 112(2): 447–475.
                    </p>
                    <p>
                        <strong>Bader, C., Bieri, S., Wiesmann, U. & Heinimann, A.</strong> 2016. Differences Between Monetary and Multidimensional
                        Poverty in the Lao PDR: Implications for Targeting of Poverty Reduction Policies and Interventions. Poverty &
                        Public Policy, 8: 171–197.
                    </p>
                </div>
                <%= require('html-loader!./back-to-top.html') %>
            </div>
        </div>
    </main>
    <%= require('html-loader!./footer.html') %>
    <div id="navigation" class="navigation sticky-bottom bg-navigationBg pt-1 pb-3 d-none d-lg-flex">
        <div class="container">
            <ul class="nav justify-content-between border-bottom">
                <% var chapter = 0; %>
                <%for (var i = 0; i < menu.length; i++) {%>
                <li>
                    <%if (menu[i].subMenu != undefined && menu[i].subMenu != null && menu[i].subMenu.length > 0) {%>

                    <%if (menu[i].isChapter) { chapter += 1; %>
                    <a class="nav-link" aria-current="page" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html">CHAPTER <%= chapter  %></a>

                    <div class="dropdown-menu mt-0 rounded-0 p-0" aria-labelledby="navbarDropdown">
                        <div class="card border-0 rounded-0 px-3 py-4 bg-transparent" style="max-width: 430px;">
                            <div class="row g-0">
                                <div class="col-md-4 pt-2">
                                    <div class="card-img rounded-0 d-flex flex-row-reverse align-items-end p-2"
                                         style="height: 130px;width: 130px;">
                                        <a class="text-dark text-decoration-none" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html"><span class="text-white display-1"><%= chapter  %></span></a>
                                    </div>
                                </div>
                                <div class="col-md-8 px-3">
                                    <a class="text-dark text-decoration-none" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html">
                                        <h5 class="card-title text-uppercase primary-color text-secondary text-uppercase p-1">
                                            <%= menu[i].title %>
                                        </h5>
                                    </a>
                                    <ul class="list-unstyled">
                                        <%for (var y = 0; y < menu[i].subMenu.length; y++) {%>
                                        <li class="card-text mb-1">
                                            <a target="_self" class="text-dark text-decoration-none" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html<%=menu[i].subMenu[y].subMenuLink%>">
                                                <%=menu[i].subMenu[y].subMenuTitle%>
                                            </a>
                                        </li>
                                        <%}%>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <%} else {%>
                    <a class="nav-link text-uppercase" aria-current="page" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html" title="<%= menu[i].title %>"> <%= menu[i].title %></a>
                    <div class="dropdown-menu w-100 mt-0 rounded-0" aria-labelledby="navbarDropdown">
                        <ul class="list-unstyled container d-flex px-4">
                            <%for (var y = 0; y < menu[i].subMenu.length; y++) {%>
                            <li>
                                <a target="_self" class="text-dark text-decoration-none px-3 text-uppercase" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html<%=menu[i].subMenu[y].subMenuLink%>">
                                    <%=menu[i].subMenu[y].subMenuTitle%>
                                </a>
                            </li>
                            <%}%>
                        </ul>
                    </div>
                    <%}%>

                    <%} else {%>
                    <%if (menu[i].isChapter) { chapter += 1; %>
                    <a class="nav-link text-uppercase" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html"> CHAPTER <%= chapter  %></a>
                    <%} else {%>
                    <a class="nav-link text-uppercase" href="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html"> <%= menu[i].title %></a>
                    <%}%>
                    <%}%>
                </li>
                <%}%>
            </ul>
        </div>
    </div>
    <!--<div id="pages">
        <%for (var i = 0; i < menu.length; i++) {%>
        <iframe id="iframe<%=i%>" src="../<%= acronym %>-<%= year %>/<%= menu[i].url%>.html" style="display:none;">
        </iframe>
        <%}%>
    </div>-->
    <%= require('html-loader!./script.html') %>
</body>
</html>