$primary: #00829a;
$secondary: #004d59;
$grey:#4d4d4d;
$lightGreyNav:#b3b3b3;
$dark: #000;
$dark-light: rgba(51, 51, 51, 0.80);
$white-opacity: rgba(255, 255, 255, 0.85);
$box: #e3ebed;
$table-striped-bg:#ebf5f7;
$grey-light: #f0f0f0;
$orange: #d86626;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "navigationBg": $grey,
  "dark": $dark,
  "white-opacity": $white-opacity,
  "dark-light": $dark-light,
  "box": $box,
  "grey-light": $grey-light,
);

// size height
$viewportHeight: 100vh;
$headerHeight: 71px;
$navBottomHeight: 67px;

// font
$font-weight-medium: 500 !default;
$line-height-xs: 0.8;
$line-height-regular: 1;
$line-height-title-chapter: 1.05;
$line-height-regular-plus: 1.1;
$line-height-medium-lg: 1.5;
$line-height-lg: 1.8 !default;
$font-size-medium: 1.2rem;
$font-size-1: 1.125rem;
$font-size-2: 1.2rem;
$font-size-3: 1.3rem;
$font-size-4: 1.4rem;
$font-size-5: 1.5rem;
$font-size-5: 1.5rem;


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1090px,
  xxl: 1100px
)!default;

$container-width-md: map-get($container-max-widths, md);
