footer{
    @include secondaryFont($font-weight-semibold,$line-height-sm);
    position: relative;
}
footer:before, footer:after  {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 9000px;
    background: $secondary;
}
footer:after{
    left: 100%;
    width: calc((100vw - 1290px) / 2 + 260px + 2rem * 2);
}
