.navbar{
    .search-form{
    
        .form-control{
            margin-top:-10px;
            &::placeholder {
                color: $white;
              }
        }
        input[type="search"]::-webkit-search-cancel-button {
            -webkit-appearance: none;
             height: 13px;
             width: 13px;
             background: url("data:image/svg+xml;charset=UTF-8,%3csvg viewPort='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='1' y1='11' x2='11' y2='1' stroke='white' stroke-width='2'/%3e%3cline x1='1' y1='1' x2='11' y2='11' stroke='white' stroke-width='2'/%3e%3c/svg%3e");
          }
    
    }

    .btn{
       font-weight: $font-weight-medium;
    }

    .navbar-collapse{
        a{
            @include secondaryFont($font-weight-semibold,$line-height-sm);
        }
        .sub-menu{
             a{
                @include secondaryFont($font-weight-normal,$line-height-sm);
              } 
         }

    }
    
}


 @media only screen and (max-width: map-get($grid-breakpoints, md)) {
    .navbar{
        .navbar-brand{
            flex-grow: 1!important;
        }
        .container{
            &.gap-4{
                gap: 0!important;
            }
        }
        .navbar-toggler{
            order: 2;
        }
        .navbar-collapse{
            order: 3;
        }
    }
}

@media only screen and (max-width: map-get($grid-breakpoints, sm)) {
    .navbar{
        min-height: $headerHeight;
        .navbar-brand{
            flex-grow: 0!important;
            img{
                width:115px;
            }
        }
    }
}

