.navbar {
    .navbar-brand {
        img {
            min-height: 45px;
        }
    }

    .search-form {

        .form-control {
            margin-top: -10px;

            &::placeholder {
                color: $white;
            }
        }

        input[type="search"]::-webkit-search-cancel-button {
            -webkit-appearance: none;
            height: 13px;
            width: 13px;
            background: url("data:image/svg+xml;charset=UTF-8,%3csvg viewPort='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='1' y1='11' x2='11' y2='1' stroke='white' stroke-width='2'/%3e%3cline x1='1' y1='1' x2='11' y2='11' stroke='white' stroke-width='2'/%3e%3c/svg%3e");
        }
    }

    .btn {
        font-weight: $font-weight-medium;
    }

    .navbar-collapse {
        &.collapse {
            &.show {
                min-height: 300px;
                max-height: 100vh;
                overflow-y: auto;
            }
        }


        a {
            @include secondaryFont($font-weight-semibold,$line-height-sm);
            display: block;
        }

        .sub-menu {
            a {
                @include secondaryFont($font-weight-normal,$line-height-sm);
            }
        }
    }

    .download-pdf {
        font-size: $font-size-sm;

        &:hover {
            background-color: $white;
            color: $primary !important;
        }
    }

    .menu-icon {
        width: 30px;
        height: 20px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;

        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            background: #f3e5f5;

            &:nth-child(1) {
                top: 0px;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
            }

            &:nth-child(2) {
                top: 10px;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
            }

            &:nth-child(3) {
                top: 20px;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
            }
        }

        &.open {
            span {
                &:nth-child(1) {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    top: 0px;
                    left: 8px;
                    width: 100% !important;
                }

                &:nth-child(2) {
                    width: 0%;
                    opacity: 0;
                }

                &:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    top: 21px;
                    left: 8px;
                    width: 100% !important;
                }
            }
        }
    }

}


@media only screen and (max-width: map-get($grid-breakpoints, lg)) {
    .navbar {
        .navbar-brand {
            flex-grow: 1 !important;
        }

        .container {
            &.gap-4 {
                gap: 0 !important;
            }
        }

        .navbar-toggler {
            order: 2;
            border: none;
            &:focus{
                box-shadow:none;
            }
        }

        .navbar-collapse {
            order: 3;
        }
    }
}

@media only screen and (max-width: map-get($grid-breakpoints, sm)) {
    .navbar {
        min-height: $headerHeight;

        .navbar-brand {
            flex-grow: 0 !important;

            img {
                width: 115px;
            }
        }
    }
}
